<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/DigMart.png">
    <title>Dashboard | Bootstrap Simple Admin Template</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
    <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <%- include('sidebar') %>
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <h1 class="page-title"><b>Dashboard</b></h1>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">SELLER</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a>
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="blue large-icon mb-2 fas fa-clipboard"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.pendingSeller %>
                                                        </h4>
                                                        <p class="text-muted">PENDING</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a>
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="green large-icon mb-2 fas fa-clipboard-check"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.verifiedSeller %>
                                                        </h4>
                                                        <p class="text-muted">VERIFIED</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a>
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="red large-icon mb-2 fas fa-window-close"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.rejectedSeller %>
                                                        </h4>
                                                        <p class="text-muted">REJECTED</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a>
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="grey large-icon mb-2 fas fa-clipboard-list"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.totalSeller %>
                                                        </h4>
                                                        <p class="text-muted">TOTAL</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>


                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">PRODUCTS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/productStatus/?status=Pending">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="blue large-icon mb-2 fas fa-clipboard"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.pendingProduct %>
                                                        </h4>
                                                        <p class="text-muted">PENDING <br>(PRODUCTS)</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/productStatus/?status=Verified">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="green large-icon mb-2 fas fa-clipboard-check"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.verifiedProduct %>
                                                        </h4>
                                                        <p class="text-muted">VERIFIED</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/productStatus/?status=Rejected">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="red large-icon mb-2 fas fa-window-close"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.rejectedProduct %>
                                                        </h4>
                                                        <p class="text-muted">REJECTED</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/productStatus">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="grey large-icon mb-2 fas fa-clipboard-list"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.totalProduct %>
                                                        </h4>
                                                        <p class="text-muted">TOTAL</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">OPERATORS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/operatorStatus/?status=Active">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="blue large-icon mb-2 fas fa-clipboard"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.activeOperator %>
                                                        </h4>
                                                        <p class="text-muted">Active</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/operatorStatus/?status=Inactive">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="green large-icon mb-2 fas fa-clipboard-check"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.inactiveOperator %>
                                                        </h4>
                                                        <p class="text-muted">Inactive</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/admin/operatorStatus">
                                        <div class="card">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="dfd text-center">
                                                        <i class="grey large-icon mb-2 fas fa-clipboard-list"></i>
                                                        <h4 class="number text-center">
                                                            <%= countarr.totalOperator %>
                                                        </h4>
                                                        <p class="text-muted">TOTAL</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>

                        </div>
                    </div>
            </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chartsjs/Chart.min.js"></script>
    <script src="/js/dashboard-charts.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>