<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Add Sizes</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">ADD SIZES</div>
                                        <div class="card-body">
                                            <div class="row g-2">
                                                <div class="col-md-2">
                                                    <label for="sizes" class="form-label">Size</label>
                                                    <select id="sizeName" name="sizes" class="form-select" required>
                                                        <option value="">Choose Size</option>
                                                        <option value="XS">XS</option>
                                                        <option value="S">S</option>
                                                        <option value="M">M</option>
                                                        <option value="L">L</option>
                                                        <option value="XL">XL</option>
                                                        <option value="XXL">XXL</option>
                                                    </select>
                                                </div>

                                                <div class="col-md-2">
                                                    <label for="quantity" class="form-label">Quantity</label>
                                                    <input type="number" class="form-control" id="quantity" name="quantity" min="1" placeholder="e.g. 50" required>
                                                </div>

                                                <div class="col-md-2">
                                                    <label for="actualPrice" class="form-label">Actual Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#8377;</span>
                                                        <input type="text" class="form-control" id="actualPrice" name="actualPrice" id="actualPrice" min="1" pattern="[0-9]{1,9}" onblur="calculate('discount', this.value )" placeholder="Eg. 30000" required>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label for="discount" class="form-label">Discount
                                                                <span class="text-muted"> (Optional)</span>
                                                            </label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">%</span>
                                                        <input type="text" class="form-control" name="discount" id="discount" onblur="calculate(this.value, 'actualPrice')" placeholder="e.g. 10" min="1" pattern="[0-9]{1,2}">

                                                        <div class="invalid-feedback">Invalid Discount</div>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <label for="finalPrice" class="form-label">Final Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#8377;</span>
                                                        <input type="number" class="form-control" name="finalPrice" id="finalPrice" placeholder="Final Price" readonly>
                                                    </div>
                                                </div>

                                                <div class="col-md-2">
                                                    <button type="button" id="addSizeBtn" class="btn btn-primary" style="margin-top: 18%;"><i class="fas fa-save"></i> Add Size</button>
                                                </div>
                                            </div>

                                            <div class="row g-2 mt-3">
                                                <table width="100%" class="table table-bordered table-hover" id="dataTables-example">
                                                    <thead>
                                                        <tr>
                                                            <th>Sizes</th>
                                                            <th>Quantity</th>
                                                            <th>Actual Price</th>
                                                            <th>Discount</th>
                                                            <th>Final Price</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <% if(variant.sizes.length!=0) { 
                                                            variant.sizes.forEach(function(data){ %>
                                                            <tr>
                                                                <td>
                                                                    <%= data.sizes %>
                                                                </td>
                                                                <td>
                                                                    <%= data.quantity %>
                                                                </td>
                                                                <td>
                                                                    <%= data.actualPrice %>
                                                                </td>
                                                                <td>
                                                                    <%= data.discount %>
                                                                </td>

                                                                <td>
                                                                    <%= data.finalPrice %>
                                                                </td>
                                                                <td class="text-end">
                                                                    <a href="#" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                                                    <a href="#" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></a>
                                                                </td>
                                                            </tr>

                                                            <% }) %>
                                                                <% } else{ %>
                                                                    <tr>
                                                                        <td colspan="6">No Sizes Found</td>
                                                                    </tr>
                                                                    <% } %>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script>
        $("#addSizeBtn").click(function() {
            $.ajax({
                url: "/seller/products/variant/add-sizes/<%= variant._id %>",
                method: "POST",
                headers: {
                    'Content-Type': 'application/json'
                },
                data: JSON.stringify({
                    sizeName: document.getElementById('sizeName').value,
                    quantity: document.getElementById('quantity').value,
                    actualPrice: document.getElementById('actualPrice').value,
                    discount: document.getElementById('discount').value,
                    finalPrice: document.getElementById('finalPrice').value,
                }),
                success: function(res) {
                    if (res.done) {
                        swal("Success!", "Size Added Successfully.", "success")
                            .then((value) => {
                                location.reload()
                            });
                    } else {
                        swal("Warning!", "Size Already Exists.", "warning")
                            .then((value) => {
                                location.reload()
                            });
                    }
                }
            })
        })

        function calculateMoreFields(val1, val2, counter) {

            var actualPrice = document.getElementById("actualPrice" + counter).value;
            var discountPct = document.getElementById("discount" + counter).value;

            var total = (actualPrice * discountPct) / 100;
            finalPrice = actualPrice - total;

            var finalPriceField = document.getElementById("finalPrice" + counter);
            finalPriceField.value = finalPrice;
        }

        function calculate(val1, val2) {
            var actualPrice = document.getElementById("actualPrice").value;
            var discountPct = document.getElementById("discount").value;

            var total = (actualPrice * discountPct) / 100;
            finalPrice = actualPrice - total;

            var finalPriceField = document.getElementById("finalPrice");
            finalPriceField.value = finalPrice;
        }
    </script>
</body>

</html>