<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Add Variant</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <%- include('../sidebar') %>
            <div id="body" class="active">
                <%- include('../navbar') %>
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">ADD NEW VARIANT</div>
                                        <div class="card-body">

                                            <form action="/seller/products/variant/add-variant/<%=id %>" enctype="multipart/form-data" id="addVariantForm" method="post" class="needs-validation" novalidate accept-charset="utf-8">

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productName" class="form-label">Product Name</label>
                                                        <input type="name" class="form-control" name="productName" id="productName" value="<%=productData.productName %>" readonly>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="images" class="form-label">Product Images:</label>
                                                        <input type="file" class="form-control" name="images" id="images" multiple='multiple' accept="image/*" required>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please Choose an Image.</div>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-4 d-grid">
                                                        <label for="colours" class="form-label">Colour</label>
                                                        <select name="colours" class="form-select" id="colours" required>
                                                            <option value=""> ---Choose Colour--- </option>
                                                            <option value="Black">Black</option>
                                                            <option value="White">White</option>
                                                            <option value="Blue">Blue</option>
                                                            <option value="Green">Green</option>
                                                            <option value="Brown">Brown</option>
                                                            <option value="Red">Red</option>
                                                        </select>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please Choose a Colour.</div>
                                                    </div>
                                                </div>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <button type="submit" class="btn btn-primary" id="submitColoursData"><i class="fas fa-save"></i> Save Variant</button>
                                                        <a style="float: right;" href="/seller/products/variant/<%=productData._id %>" class="btn btn-danger" id="cancelButton1"><i class="fas fa-times"></i> Cancel</a>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>

</body>

</html>