<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Edit Variant</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<style>
    .item {
        position: relative;
        padding: 2px;
        display: inline-block;
        margin: 10px;
        border: 2px solid #555;
    }

    .notify-badge {
        position: absolute;
        right: -20px;
        top: -10px;
        opacity: 0.95;
        text-align: center;
        border-radius: 5px 5px 5px 5px;
        color: white;
        padding: 5px 10px;
        font-size: 10px;
    }
</style>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">EDIT VARIANT</div>
                                        <div class="card-body">

                                            <form enctype="multipart/form-data" id="editVariantForm" method="post"
                                                class="needs-validation" novalidate accept-charset="utf-8">

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productName" class="form-label">Product
                                                            Name</label>
                                                        <input type="name" class="form-control" name="productName"
                                                            value="<%=productData.productName %>" id="productName"
                                                            readonly>

                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productName" class="form-label">Product
                                                            Images</label>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <% for (let a=0; a < variantData.images.length; a++){ %>
                                                        <div class=" col-md-2">
                                                            <div class="item">
                                                                <img src="<%=variantData.images[a]%>"
                                                                    style="width: 100%; ">
                                                                <% if(variantData.images.length> 1){ %>
                                                                    <a
                                                                        href="/seller/products/variant/delete-image/<%=productData._id%>/<%=variantData._id%>/<%=a %>">
                                                                        <span
                                                                            class="btn btn-danger notify-badge fw-bold">X</span>
                                                                    </a>
                                                                    <% } else {%>
                                                                        <button type="button"
                                                                            class="btn btn-danger notify-badge fw-bold"
                                                                            id="dontDelete" data-bs-toggle="modal"
                                                                            data-bs-target="#cantDelete"><i
                                                                                class="fas fa-cancel"></i>X</button>
                                                                        <% } %>
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>

                                                <div class="row g-2">

                                                    <div class="mb-3 col-md-12">

                                                        <% if(variantData.images.length!=0){ %>
                                                            <label for="productImg" class="form-label">Add More
                                                                Images
                                                                <span class="text-muted">(Optional)</span></label>
                                                            <% } %>

                                                                <input type="file" class="form-control" name="images"
                                                                    accept="image/*" id="chooseImage" multiple>
                                                                <div class="valid-feedback">Looks good!</div>
                                                                <div class="invalid-feedback">Please Choose an
                                                                    Image.
                                                                </div>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-4 d-grid">
                                                        <label for="colours" class="form-label">Colour
                                                        </label>
                                                        <select name="colours" class="form-select" id="colours"
                                                            required>
                                                            <option value="<%=variantData.colours%>">
                                                                <%=variantData.colours%>
                                                            </option>
                                                            <option value="<%=variantData.colours%>">
                                                                <%=variantData.colours%>
                                                            </option>
                                                            <option value="Black">Black</option>
                                                            <option value="White">White</option>
                                                            <option value="Blue">Blue</option>
                                                            <option value="Green">Green</option>
                                                            <option value="Brown">Brown</option>
                                                            <option value="Red">Red</option>
                                                        </select>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please Choose a Colour.</div>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="col-md-2">
                                                        <label for="sizes" class="form-label">Sizes
                                                        </label>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="quantity" class="form-label">Quantity
                                                        </label>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="actualPrice" class="form-label">Actual
                                                            Price</label>
                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="discount" class="form-label">Discount
                                                            <span class="text-muted"> (Optional)</span>
                                                        </label>

                                                    </div>

                                                    <div class="col-md-2">
                                                        <label for="finalPrice" class="form-label">Final
                                                            Price</label>

                                                    </div>
                                                </div>

                                                <div id="appendItems">
                                                    <% for (let i in variantData.sizes){ %>
                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-2">
                                                                <select name="sizes[]" class="form-select" id="sizes0"
                                                                    required>
                                                                    <option value="<%=variantData.sizes[i].sizes %>">
                                                                        <%=variantData.sizes[i].sizes %>
                                                                    </option>
                                                                    <option value="XS">XS</option>
                                                                    <option value="S">S</option>
                                                                    <option value="M">M</option>
                                                                    <option value="L">L</option>
                                                                    <option value="XL">XL</option>
                                                                    <option value="XXL">XXL</option>
                                                                </select>
                                                            </div>

                                                            <div class="mb-3 col-md-2">
                                                                <input type="number" class="form-control"
                                                                    name="quantity[]"
                                                                    value="<%=variantData.sizes[i].quantity %>" min="1"
                                                                    placeholder="e.g. 50" required>
                                                            </div>

                                                            <div class="mb-3 col-md-2">
                                                                <div class="input-group">
                                                                    <span class="input-group-text">&#8377;</span>
                                                                    <input type="text" class="form-control"
                                                                        name="actualPrice[]"
                                                                        value="<%=variantData.sizes[i].actualPrice %>"
                                                                        id="actualPrice" min="1" pattern="[0-9]{1,9}"
                                                                        onblur="calculate('discount', this.value )"
                                                                        placeholder="Eg. 30000" required>
                                                                    <div class="invalid-feedback">Invalid Discount
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3 col-md-2">
                                                                <div class="input-group">
                                                                    <span class="input-group-text">%</span>
                                                                    <input type="text" class="form-control"
                                                                        name="discount[]" id="discount"
                                                                        value="<%=variantData.sizes[i].discount %>"
                                                                        onblur="calculate(this.value, 'actualPrice')"
                                                                        placeholder="e.g. 10" min="1"
                                                                        pattern="[0-9]{1,2}">
                                                                    <div class="invalid-feedback">Invalid Discount
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3 col-md-2">
                                                                <div class="input-group">
                                                                    <span class="input-group-text">&#8377;</span>
                                                                    <input type="number" class="form-control"
                                                                        name="finalPrice[]" id="finalPrice"
                                                                        value="<%=variantData.sizes[i].finalPrice %>"
                                                                        placeholder="Final Price" readonly>
                                                                </div>
                                                            </div>

                                                            <div class="mb-3 col-md-2 d-grid divremoveItemsBtnMain">
                                                                <button class="btn btn-outline-danger removeItemsBtn"><i
                                                                        class="fas fa-minus-circle"></i>
                                                                    Remove</a>
                                                            </div>

                                                        </div>
                                                        <% } %>
                                                </div>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-2 d-grid">
                                                        <button class="btn btn-outline-primary" id="addMoreBtnMain"><i
                                                                class="fas fa-plus-circle"></i>
                                                            Add More</button>

                                                    </div>
                                                </div>

                                                <a href="/seller/products/variant/<%=productData._id %>"
                                                    class="btn btn-danger"><i class="fas fa-times"></i>
                                                    Cancel</a>

                                                <button type="button" class="btn btn-primary" id="submitData"
                                                    data-bs-toggle="modal" data-bs-target="#staticBackdrop"
                                                    style="float:right"><i class="fas fa-save"></i>
                                                    Save Changes</button>

                                                <!-- Delete Image Warning Modal -->
                                                <div class="modal fade" id="cantDelete" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="cantDeleteLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="cantDeleteLabel">
                                                                    Cannot delete image
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                There should be atleast one
                                                                product image present!
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-danger"
                                                                    data-bs-dismiss="modal">OK</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>


                                                <!-- Save changes Warning Modal -->
                                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">
                                                                    Save
                                                                    Changes!
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                Are you sure you want to
                                                                Save
                                                                the
                                                                Changes?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-bs-dismiss="modal">Cancel</button>

                                                                <button type="submit" class="btn btn-primary"
                                                                    data-bs-dismiss="modal">SAVE

                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <script src="/vendor/jquery/jquery.min.js"></script>

                            <script>
                                let element = document.getElementById('colours');
                                element.value = '<%=variantData.colours %>';

                                let element1 = document.getElementById('sizes');
                                element1.value = '<%=variantData.sizes %>';

                                let chooseImage = document.getElementById("chooseImage")
                                '<% if(variantData.images.length==0){ %>'
                                chooseImage.setAttribute('required', '');
                                '<% } %>'

                            </script>

                            <script>
                                $(document).ready(function () {
                                    coloursDropdown();
                                });

                                function coloursDropdown() {
                                    var selectobject = document.getElementById("colours");
                                    '<% if(coloursData.length!=0){ var j=1; coloursData.forEach(function(data){ %>'
                                    for (var i = 0; i < selectobject.length; i++) {
                                        if (selectobject.options[i].value == '<%= data.colours %>')
                                            selectobject.remove(i);
                                    }
                                    '<% j++; }) } %>'
                                }

                            </script>

                            <script>
                                function moreItems(counter) {

                                    var moreItems =
                                        `<div class="row g-2" id="itemsRow` + counter + `">
                    <div class="mb-3 col-md-2">
                        <select name="sizes[]" class="form-select" id="sizes` + counter + `" required>
                            <option value="">
                                ---Choose Size---
                            </option>
                            
                        </select>
                    </div>

                    <div class="mb-3 col-md-2">
                        <input type="number" class="form-control" name="quantity[]" id="quantity" min="1"
                            placeholder="e.g. 50" required>
                    </div>

                    <div class="mb-3 col-md-2">
                        <div class="input-group">
                            <span class="input-group-text">&#8377;</span>
                            <input type="text" class="form-control" name="actualPrice[]"
                                id="actualPrice` + counter + `" min="1" pattern="[0-9]{1,9}"
                                onblur="calculateMoreFields('discount` + counter + `', this.value, ` + counter + ` )"
                                placeholder="Eg. 30000" required>
                          
                        </div>

                    </div>

                    <div class="mb-3 col-md-2">
                        <div class="input-group">
                            <span class="input-group-text">%</span>
                            <input type="text" class="form-control" name="discount[]"
                                id="discount` + counter + `" onblur="calculateMoreFields(this.value, 'actualPrice` + counter + `', ` + counter + `)"
                                placeholder="e.g. 10" min="1" pattern="[0-9]{1,2}">
                            <div class="invalid-feedback">Invalid Discount
                            </div>
                        </div>
                    </div>

                    <div class="mb-3 col-md-2">
                        <div class="input-group">
                            <span class="input-group-text">&#8377;</span>
                            <input type="number" class="form-control" name="finalPrice[]"
                                id="finalPrice` + counter + `"  placeholder="Final Price" readonly required>
                        
                        </div>
                    </div>

                    <div class="mb-3 col-md-2 d-grid divremoveItemsBtnMain">
                        <button class="btn btn-outline-danger removeItemsBtn" id="removeItemsBtn` + counter + `"><i
                            class="fas fa-minus-circle"></i>
                        Remove</a>
                    </div>

                </div>`
                                    return moreItems;
                                }

                                var counter = 1;
                                $(document).ready(function () {

                                    $("#addMoreBtnMain").click(function (e) {
                                        e.preventDefault();
                                        var appendMoreItems = moreItems(counter);
                                        $("#appendItems").append(appendMoreItems);
                                        counter++

                                        $(document).on('click', '.removeItemsBtn', function (e) {
                                            e.preventDefault();
                                            let row_item = $(this).parent().parent();
                                            $(row_item).remove();
                                        })
                                    });
                                });

                            </script>

                            <script>
                                function calculateMoreFields(val1, val2, counter) {
                                    var actualPrice = document.getElementById("actualPrice" + counter).value;
                                    var discountPct = document.getElementById("discount" + counter).value;

                                    var total = (actualPrice * discountPct) / 100;
                                    finalPrice = actualPrice - total;

                                    var finalPriceField = document.getElementById("finalPrice" + counter);
                                    finalPriceField.value = finalPrice;
                                }

                                function calculate(val1, val2) {
                                    var actualPrice = document.getElementById("actualPrice").value;
                                    var discountPct = document.getElementById("discount").value;

                                    var total = (actualPrice * discountPct) / 100;
                                    finalPrice = actualPrice - total;

                                    var finalPriceField = document.getElementById("finalPrice");
                                    finalPriceField.value = finalPrice;
                                }

                            </script>

                            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                            <script src="/vendor/datatables/datatables.min.js"></script>
                            <script src="/js/form-validator.js"></script>
                            <script src="/js/initiate-datatables.js"></script>
                            <script src="/js/script.js"></script>
</body>

</html>