<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Authentication | DigMart</title>

    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet">
    <link href="/css/seller/authentication.css" rel="stylesheet">
</head>

<body>

    <div class="container">
        <form action="/seller/authentication" method="POST" class="needs-validation" novalidate accept-charset="utf-8">
            <div class="row">
                <div class="col">
                    <div class="card cardA">
                        <div class="card-header">
                            <h3 class="text-center ">Mobile No. Verification</h3>
                        </div>
                        <div class="card-body text-center p-5">
                            <span class="mobile-text">Enter the code we just send on your Mobile No.<br>
                                <b id="busMobile" style="color: rgb(11, 78, 179);">
                                    +91 <%= busMobile%>
                                </b></span>
                            <div class="d-flex flex-row mt-4">
                                <input id="mobOtp1" name="mobOtp1" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" autofocus="" required>
                                <input id="mobOtp2" name="mobOtp2" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                                <input id="mobOtp3" name="mobOtp3" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                                <input id="mobOtp4" name="mobOtp4" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                            </div>
                            <div class="text-center mt-3" id="mobResendstr">
                                <span class="d-block mobile-text">Didn't receive the code?</span>
                                <span id="mobResend" onclick="sendOTP(1,'<%= busMobile%>')" class="timer-inactive">Resend</span>
                                <span id="mobTimer"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card cardB">
                        <div class="card-header">
                            <h3 class="text-center ">Email Verification</h3>
                        </div>
                        <div class="card-body text-center p-5">
                            <span class="mobile-text">Enter the code we just send on your Email<br>
                                <b id="busEmail" style="color: rgb(11, 78, 179);">
                                    <%= busEmail%>
                                </b></span>
                            <div class="d-flex flex-row mt-4">
                                <input id="emailOtp1" name="emailOtp1" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                                <input id="emailOtp2" name="emailOtp2" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                                <input id="emailOtp3" name="emailOtp3" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                                <input id="emailOtp4" name="emailOtp4" type="text" class="text-center form-control m-2"
                                    pattern="[0-9]{1}" maxlength="1" required>
                            </div>
                            <div class="text-center mt-3" id="emailResendstr">
                                <span class="d-block mobile-text">Didn't receive the code?</span>
                                <span id="emailResend" onclick="sendOTP(2,'<%= busEmail%>')"  class="timer-inactive">Resend</span>
                                <span id="emailTimer"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <input type="hidden" name="hidMobile" id="hidMobile" value="<%= busMobile%>">
            <div class="row">
                <div class="text-center mt-3 mb-3">
                    <button id="submit" type="submit" class="btn btn-primary" disabled="true"
                        style="width: 25%; font-size: medium;">Submit</button>
                </div>
            </div>
        </form>
    </div>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/form-validator.js"></script>
<script src="/js/seller/authentication.js"></script>

</html>