<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>Dashboard | DigMart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">

</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <!-- PRODUCTS -->
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">PRODUCTS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Incomplete" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="black large-icon mb-2 fas fa-exclamation"></i>
                                                    <h4 class="number text-center"><%= count.incompleteProducts %></h4>
                                                    <p class="text-muted">INCOMPLETE</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>                                
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Pending" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="blue large-icon mb-2 fas fa-clipboard"></i>
                                                    <h4 class="number text-center"><%= count.pendingProducts %></h4>
                                                    <p class="text-muted">PENDING</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Verified" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="green large-icon mb-2 fas fa-clipboard-check"></i>
                                                    <h4 class="number text-center"><%= count.verifiedProducts %></h4>
                                                    <p class="text-muted">VERIFIED</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Rejected" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="red large-icon mb-2 fas fa-window-close"></i>
                                                    <h4 class="number text-center"><%= count.rejectedProducts %></h4>
                                                    <p class="text-muted">REJECTED</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid ">
                                    <a href="/seller/products" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="grey large-icon mb-2 fas fa-clipboard-list"></i>
                                                    <h4 class="number text-center"><%= count.totalProducts %></h4>
                                                    <p class="text-muted">TOTAL</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <!-- ORDERS -->
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">ORDERS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/new-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="teal fas fa-shopping-cart"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">New Orders</p>
                                                            <span class="number">336</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <hr />
                                                    <div class="stats">
                                                        <i class="fas fa-calendar"></i> For this Year
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/shipment-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="olive fas fa-warehouse"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">Shipments</p>
                                                            <span class="number">111</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <hr />
                                                    <div class="stats">
                                                        <i class="fas fa-calendar"></i> For this Year
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/delivered-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="green fas fa-check-double"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">Delivered Orders</p>
                                                            <span class="number">786</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="footer">
                                                    <hr />
                                                    <div class="stats">
                                                        <i class="fas fa-calendar"></i> For this Year
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="content">
                                                    <div class="head">
                                                        <h5 class="mb-0">Traffic Overview</h5>
                                                        <p class="text-muted">Current year website visitor data</p>
                                                    </div>
                                                    <div class="canvas-wrapper">
                                                        <canvas class="chart" id="trafficflow"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="content">
                                                    <div class="head">
                                                        <h5 class="mb-0">Sales Overview</h5>
                                                        <p class="text-muted">Current year sales data</p>
                                                    </div>
                                                    <div class="canvas-wrapper">
                                                        <canvas class="chart" id="sales"></canvas>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h5 class="mb-0">Top Visitors by Country</h5>
                                                <p class="text-muted">Current year website visitor data</p>
                                            </div>
                                            <div class="canvas-wrapper">
                                                <table class="table table-striped">
                                                    <thead class="success">
                                                        <tr>
                                                            <th>Country</th>
                                                            <th class="text-end">Unique Visitors</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-us"></i> United States
                                                            </td>
                                                            <td class="text-end">27,340</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-in"></i> India</td>
                                                            <td class="text-end">21,280</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-jp"></i> Japan</td>
                                                            <td class="text-end">18,210</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-gb"></i> United Kingdom
                                                            </td>
                                                            <td class="text-end">15,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-es"></i> Spain</td>
                                                            <td class="text-end">14,276</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-de"></i> Germany</td>
                                                            <td class="text-end">13,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-br"></i> Brazil</td>
                                                            <td class="text-end">12,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-id"></i> Indonesia</td>
                                                            <td class="text-end">11,886</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-ph"></i> Philippines</td>
                                                            <td class="text-end">11,509</td>
                                                        </tr>
                                                        <tr>
                                                            <td><i class="flag-icon flag-icon-nz"></i> New Zealand</td>
                                                            <td class="text-end">1,700</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="content">
                                            <div class="head">
                                                <h5 class="mb-0">Most Visited Pages</h5>
                                                <p class="text-muted">Current year website visitor data</p>
                                            </div>
                                            <div class="canvas-wrapper">
                                                <table class="table table-striped">
                                                    <thead class="success">
                                                        <tr>
                                                            <th>Page Name</th>
                                                            <th class="text-end">Visitors</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <td>/about.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">8,340</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/special-promo.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">7,280</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/products.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">6,210</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/documentation.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">5,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/customer-support.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">4,276</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/index.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">3,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/products-pricing.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">2,176</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/product-features.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">1,886</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/contact-us.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">1,509</td>
                                                        </tr>
                                                        <tr>
                                                            <td>/terms-and-condition.html <a href="#"><i
                                                                        class="fas fa-link blue"></i></a></td>
                                                            <td class="text-end">1,100</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chartsjs/Chart.min.js"></script>
    <script src="/js/dashboard-charts.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>