<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="icon" type="image/png" href="/img/favicon.png">

    <title>Dashboard | DigMart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/flagiconcss/css/flag-icon.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">

    <style>
        #overlay {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            border-radius: .25rem;
            background: rgba(255, 255, 255, 0.3);
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            backdrop-filter: blur(8px);
        }

        .modal-backdrop {
            opacity: 0.9 !important;
        }

        .modal-content {
            border-radius: .3rem;
            box-shadow: rgba(4, 255, 66, 0.24) 0px 3px 8px;
        }

        .modal-body {
            border-radius: .3rem;
            border-bottom-left-radius: 10rem;
            border-bottom-right-radius: 10rem;
            border-bottom: 2px solid #198754;
            background-color: #eaffebf8;
        }

        .modal-body button {
            top: .5rem;
            right: .5rem;
        }

        #features p {
            color: #198754;
            font-weight: bold;
            margin-bottom: .5rem;
            text-align: center;
        }

        .modal-footer {
            border-top: none;
        }

        /* #overlay-content {
            align-self: flex-start;
            position: -webkit-sticky;
            position: sticky;
            top: 50px;
        } */
    </style>

</head>

<body>
    <div class="wrapper">
        <%- include('sidebar') %>
            <div id="body" class="active">
                <%- include('navbar') %>
                    <div class="content">
                        <div class="container">
                            <!-- PRODUCTS -->
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">PRODUCTS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Incomplete" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="black large-icon mb-2 fas fa-exclamation"></i>
                                                    <h4 class="number text-center">
                                                        <%= count.incompleteProducts %>
                                                    </h4>
                                                    <p class="text-muted">INCOMPLETE</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Pending" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="blue large-icon mb-2 fas fa-clipboard"></i>
                                                    <h4 class="number text-center">
                                                        <%= count.pendingProducts %>
                                                    </h4>
                                                    <p class="text-muted">PENDING</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Verified" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="green large-icon mb-2 fas fa-clipboard-check"></i>
                                                    <h4 class="number text-center">
                                                        <%= count.verifiedProducts %>
                                                    </h4>
                                                    <p class="text-muted">VERIFIED</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid">
                                    <a href="/seller/products/?status=Rejected" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="red large-icon mb-2 fas fa-window-close"></i>
                                                    <h4 class="number text-center">
                                                        <%= count.rejectedProducts %>
                                                    </h4>
                                                    <p class="text-muted">REJECTED</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="col-sm-5 col-md-5 col-lg-2 mt-3 d-grid ">
                                    <a href="/seller/products" class="card">
                                        <div class="content">
                                            <div class="row">
                                                <div class="dfd text-center">
                                                    <i class="grey large-icon mb-2 fas fa-clipboard-list"></i>
                                                    <h4 class="number text-center">
                                                        <%= count.totalProducts %>
                                                    </h4>
                                                    <p class="text-muted">TOTAL</p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <!-- ORDERS -->
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">ORDERS</h2>
                                </div>
                            </div>
                            <div class="row justify-content-around">
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/new-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="teal fas fa-arrow-circle-down"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">New Orders</p>
                                                            <span class="number">
                                                                <%= count.newOrders %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/shipment-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="olive fas fa-truck"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">Shipments</p>
                                                            <span class="number">
                                                                <%= count.shipmentOrders %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="flex-fill col-sm-6 col-md-6 col-lg-3 mt-3">
                                    <a href="/seller/orders/delivered-orders">
                                        <div class="card p-2">
                                            <div class="content">
                                                <div class="row">
                                                    <div class="col-sm-4">
                                                        <div class="icon-big text-center">
                                                            <i class="green fas fa-check-circle"></i>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-8">
                                                        <div class="detail">
                                                            <p class="detail-subtitle">Delivered Orders</p>
                                                            <span class="number">
                                                                <%= count.deliveredOrders %>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <hr>
                            <!-- ANALYTICS -->
                            <div class="row">
                                <div class="col-md-12 page-header">
                                    <div class="page-pretitle">Overview</div>
                                    <h2 class="page-title">ANALYTICS</h2>
                                </div>
                            </div>
                            <div class="row mt-3 position-relative" style="min-height: 250px;">
                                <% if(selDoc.plan=='Basic' ){ %>
                                    <div id="overlay" class="d-flex justify-content-center ">
                                        <div id="overlay-content" class="align-self-center text-center">
                                            <i class="fas fa-lock fs-1"></i>
                                            <h4 class="my-2">Available only for Pro members</h4>
                                            <button class="btn btn-outline-success mt-3" data-bs-toggle="modal"
                                                data-bs-target="#subscription-modal">Upgrade to Pro <i
                                                    class="fas fa-angle-double-up"></i></button>
                                        </div>
                                    </div>
                                    <%}%>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="content">
                                                            <div class="head">
                                                                <h5 class="mb-0">Traffic Overview</h5>
                                                                <p class="text-muted">Current year website visitor data
                                                                </p>
                                                            </div>
                                                            <div class="canvas-wrapper">
                                                                <canvas class="chart" id="trafficflow"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="card">
                                                        <div class="content">
                                                            <div class="head">
                                                                <h5 class="mb-0">Sales Overview</h5>
                                                                <p class="text-muted">Current year sales data</p>
                                                            </div>
                                                            <div class="canvas-wrapper">
                                                                <canvas class="chart" id="sales"></canvas>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="content">
                                                    <div class="head">
                                                        <h5 class="mb-0">Top Visitors by Country</h5>
                                                        <p class="text-muted">Current year website visitor data</p>
                                                    </div>
                                                    <div class="canvas-wrapper">
                                                        <table class="table table-striped">
                                                            <thead class="success">
                                                                <tr>
                                                                    <th>Country</th>
                                                                    <th class="text-end">Unique Visitors</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-us"></i> United
                                                                        States
                                                                    </td>
                                                                    <td class="text-end">27,340</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-in"></i> India
                                                                    </td>
                                                                    <td class="text-end">21,280</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-jp"></i> Japan
                                                                    </td>
                                                                    <td class="text-end">18,210</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-gb"></i> United
                                                                        Kingdom
                                                                    </td>
                                                                    <td class="text-end">15,176</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-es"></i> Spain
                                                                    </td>
                                                                    <td class="text-end">14,276</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-de"></i> Germany
                                                                    </td>
                                                                    <td class="text-end">13,176</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-br"></i> Brazil
                                                                    </td>
                                                                    <td class="text-end">12,176</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-id"></i> Indonesia
                                                                    </td>
                                                                    <td class="text-end">11,886</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-ph"></i>
                                                                        Philippines
                                                                    </td>
                                                                    <td class="text-end">11,509</td>
                                                                </tr>
                                                                <tr>
                                                                    <td><i class="flag-icon flag-icon-nz"></i> New
                                                                        Zealand
                                                                    </td>
                                                                    <td class="text-end">1,700</td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card">
                                                <div class="content">
                                                    <div class="head">
                                                        <h5 class="mb-0">Most Visited Products</h5>
                                                        <p class="text-muted">Top 10 most visited products by Users</p>
                                                    </div>
                                                    <div class="canvas-wrapper">
                                                        <table class="table table-striped">
                                                            <thead class="success">
                                                                <tr>
                                                                    <th>Product Name</th>
                                                                    <th class="text-end">Visitors</th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <% if (products.length !=0){
                                                                    products.forEach(function(product){ %>
                                                                    <tr>
                                                                        <td>
                                                                            <%= product.productName %>
                                                                        </td>
                                                                        <td class="text-end">
                                                                            <%= product.views %>
                                                                        </td>
                                                                    </tr>
                                                                    <% }) } %>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <!-- SUBSCRIPTION MODAL -->
    <div class="modal fade" id="subscription-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body position-relative">
                    <h1 class="modal-title text-center text-success mt-2 mx-3" id="staticBackdropLabel">Pro Plan</h1>
                    <button type="button" class="btn position-absolute" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fas fa-times text-success fs-3"></i></button>
                    <div class="d-flex justify-content-center">
                        <img src="/img/growth.png" style="width: 80; height:80px;" alt="">
                    </div>
                    <div id="features" class="mt-4">
                        <h4 class="text-center fw-bolder mb-3">🔥Benefits🔥</h4>
                        <p>Ad Free User Experience!</p>
                        <p>Get access to Data Analytics Section</p>
                        <p>Featured Products</p>
                        <p>Benefit 4</p>
                    </div>
                </div>
                <div class="modal-footer justify-content-center">
                    <button type="button" class="btn btn-outline-success">Get started!</button>
                </div>
            </div>
        </div>
    </div>


    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/chartsjs/Chart.min.js"></script>
    <script src="/js/dashboard-charts.js"></script>
    <script src="/js/script.js"></script>
    <script>
        $('#overlay-content').parents().filter(function () {
            console.log($(this));
            console.log($(this).css('overflow'));
            return $(this).css('overflow') === 'hidden';
        });
    </script>
</body>

</html>