<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Shopping Cart | DigMart</title>
    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/user/home.css" rel="stylesheet">
    <style>
        @media screen and (min-width: 767px) {
            .chgsize {
                height: 100%;
                width: 85%;
            }
            .chgpar {
                max-height: 170px;
            }
        }
        
        @media screen and (max-width: 766px) {
            .chgsize {
                height: 100%;
                width: 50%;
            }
            .chgpar {
                max-height: 250px;
            }
        }
    </style>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('navbar') %>
        <div class="wrapper mb-3">
            <div id="body" class="active">
                <div class="container-fluid p-0 m-0">
                    <div class="grandparent row p-4 m-0">
                        <% if(seller.length!=0) {%>
                            <div class="container border mt-2 col-md-9 col-sm-12 col-12 p-2" style="background-color:  #ffffff; ">
                                <h3>
                                    <p class="modal-header border-danger">Your Shopping Cart</p>
                                </h3>
                                <% var i=0; seller.forEach(function(data){ %>
                                    <div class="parent ">
                                        <div class="card p-2 mb-4" style="background-color: rgb(247, 248, 249); ">
                                            <label style="color: black;">
                                                <h5><b>
                                                        <%= data.busName %>
                                                    </b></h5>
                                            </label>
                                            <hr class="mt-0" style="color: black; height: 2px;">
                                            <% cartData.forEach(function(cartData){%>
                                                <% if(cartData.sellerID._id.toString()==data._id.toString()) { %>
                                                    <div class="card p-0 mb-4" style="box-shadow: 2px 2px rgb(136, 136, 138);">
                                                        <div class="card-header p-1 bg-white">
                                                            <h4><a href="/cart/delete-cart/<%= cartData._id %>"><i
                                                                        class="fa fa fa-times ms-2 mt-1"
                                                                        style="color: rgb(188, 21, 21); float: right; "
                                                                        aria-hidden="true"></i></a>
                                                            </h4>
                                                        </div>
                                                        <div class=" ms-0 row  p-0 ">
                                                            <%if(cartData.variantID){%>
                                                                <div class="image col-md-3 p-1 mt-2 chgpar">
                                                                    <img src=" <%= cartData.variantID.images[0] %>" class="img-fluid chgsize rounded-start mx-auto d-block border-2 border mb-1">
                                                                </div>
                                                                <%}else{%>
                                                                    <div class="image col-md-3 p-0 mt-2 chgpar">
                                                                        <img src=" <%= cartData.productID.images[0] %>" class="chgsize img-fluid rounded-start mx-auto d-block border-2 border mb-1">
                                                                    </div>
                                                                    <%}%>
                                                                        <div class=" col-md-9 p-0">
                                                                            <div class="row ">
                                                                                <div class="card-body mt-2 col-md-12 col-sm-12 col-12 p-0">
                                                                                    <div class="row p-1 ms-0">
                                                                                        <h5 class="card-title">
                                                                                            <label id="productName" name="productName">
                                                                                                <%= cartData.productID.productName
                                                                                                    %>:
                                                                                                    &nbsp;
                                                                                            </label>
                                                                                        </h5>
                                                                                        <label id="productDesc" name="productDesc" style="padding-right: 21px;">
                                                                                            <%= cartData.productID.description
                                                                                                %>
                                                                                        </label>
                                                                                    </div>


                                                                                    <div class="row">
                                                                                        <%if(cartData.variantID){%>
                                                                                            <div class="col-md-4">
                                                                                                <div class="row mt-4 ms-0">
                                                                                                    <div class="col-md-4 col-sm-4 col-4 card-subtitle">
                                                                                                        <b>Color:</b>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-8 col-8 card-subtitle text-left">
                                                                                                        <label id="colours" name="colours">
                                                                                                            <%=cartData.colour
                                                                                                                %>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>

                                                                                                <div class="row ms-0 mt-4">
                                                                                                    <div class="col-md-3 col-sm-4 col-4 card-subtitle">
                                                                                                        <b>Size:</b>
                                                                                                    </div>
                                                                                                    <div class="col-md-6 col-sm-8 col-8 card-subtitle">
                                                                                                        <label id="colours" name="colours">
                                                                                                            <%=cartData.size
                                                                                                                %>
                                                                                                        </label>
                                                                                                    </div>
                                                                                                </div>
                                                                                            </div>
                                                                                            <%}%>
                                                                                                <div class="col-md-7 mb-2">
                                                                                                    <div class="row mt-4 ms-0">
                                                                                                        <div class="col-md-2 col-sm-4 col-4 card-subtitle">
                                                                                                            <b>Price:</b>
                                                                                                        </div>
                                                                                                        <%if(cartData.variantID){%>
                                                                                                            <div class="col-md-9  col-sm-8 col-8 card-subtitle">
                                                                                                                <%if(cartData.variantID.sizes[size[i]].discount==null){%>
                                                                                                                    <p class="card-text text-dark text-black-20 fs-6">
                                                                                                                        ₹
                                                                                                                        <strong>
                                                                                                                            <%=cartData.variantID.sizes[size[i]].actualPrice%>
                                                                                                                        </strong>
                                                                                                                    </p>
                                                                                                                    <%}
                                                                                                                        else{%>
                                                                                                                        <p class="card-text text-dark">
                                                                                                                            <strong>
                                                                                                                                ₹
                                                                                                                                <%=cartData.variantID.sizes[size[i]].finalPrice%>
                                                                                                                            </strong><strike><span
                                                                                                                                    class="text-black-20">₹
                                                                                                                                    <%=cartData.variantID.sizes[size[i]].actualPrice%>
                                                                                                                                </span></strike><span class="text-success fs-6">
                                                                                                                                <%=cartData.variantID.sizes[size[i]].discount%>
                                                                                                                                    %
                                                                                                                                    off
                                                                                                                            </span>
                                                                                                                        </p>

                                                                                                                        <%}%>

                                                                                                            </div>
                                                                                                            <%}else{%>
                                                                                                                <div class="col-md-9  col-sm-8 card-subtitle">
                                                                                                                    <%if(cartData.productID.discount==null){%>
                                                                                                                        <p class="card-text text-dark text-black-20 fs-6">
                                                                                                                            ₹
                                                                                                                            <strong>
                                                                                                                                <%=cartData.productID.actualPrice%>
                                                                                                                            </strong>
                                                                                                                        </p>
                                                                                                                        <%}
                                                                                                                            else{%>
                                                                                                                            <p class="card-text text-dark">
                                                                                                                                <strong>
                                                                                                                                    ₹
                                                                                                                                    <%=cartData.productID.finalPrice%>
                                                                                                                                </strong><strike><span
                                                                                                                                        class="text-black-20">₹
                                                                                                                                        <%=cartData.productID.actualPrice%>
                                                                                                                                    </span></strike><span class="text-success fs-6">
                                                                                                                                    <%=cartData.productID.discount%>
                                                                                                                                        %
                                                                                                                                        off
                                                                                                                                </span>
                                                                                                                            </p>
                                                                                                                            <%}%>
                                                                                                                </div>
                                                                                                                <%}%>
                                                                                                    </div>


                                                                                                    <div class="row mt-4 ms-0">
                                                                                                        <div class="col-md-3 col-sm-4 col-4 card-text">
                                                                                                            <b>Quantity:</b>
                                                                                                        </div>
                                                                                                        <%if(cartData.variantID){%>
                                                                                                            <div class="col-md-9 col-sm-3 col-3 btn-group">
                                                                                                                <button type="button" value="<%=i%>quantity" onclick="myFunction('sub','<%=cartData._id%>',this,'<%=cartData.variantID.sizes[size[i]].quantity%>','<%=cartData.variantID.sizes[size[i]].finalPrice%>')" class="btn-sm btn-light" style="box-shadow: none"><b>
                                                                                                                        <h5>-
                                                                                                                        </h5>
                                                                                                                    </b></button>
                                                                                                                <label class="btn form-control border-1 border-dark" style=" max-width: 50px; text-align:center;" id="<%=i%>quantity" name="quantity">
                                                                                                                    <%= cartData.quantity %>
                                                                                                                </label>
                                                                                                                <button type="button" value="<%=i%>quantity" onclick="myFunction('add','<%=cartData._id%>',this,'<%=cartData.variantID.sizes[size[i]].quantity%>','<%=cartData.variantID.sizes[size[i]].finalPrice%>')" class="btn-sm btn-light" style="box-shadow: none"><b>
                                                                                                                        <h5>+
                                                                                                                        </h5>
                                                                                                                    </b></button>
                                                                                                            </div>
                                                                                                            <%}else{%>
                                                                                                                <div class="col-md-9 col-sm-3 col-3 btn-group">
                                                                                                                    <button type="button" value="<%=i%>quantity" onclick="myFunction('sub','<%=cartData._id%>',this,'<%=cartData.productID.quantity%>','<%=cartData.productID.finalPrice%>')" class="btn-sm btn-light" style="box-shadow: none"><b>
                                                                                                                            <h5>-
                                                                                                                            </h5>
                                                                                                                        </b></button>
                                                                                                                    <label class="btn form-control border-1 border-dark" style=" max-width: 50px; text-align:center;" id="<%=i%>quantity" name="quantity">
                                                                                                                        <%= cartData.quantity %>
                                                                                                                    </label>
                                                                                                                    <button type="button" value="<%=i%>quantity" onclick="myFunction('add','<%=cartData._id%>',this,'<%=cartData.productID.quantity%>','<%=cartData.productID.finalPrice%>')" class="btn-sm btn-light" style="box-shadow: none"><b>
                                                                                                                            <h5>+
                                                                                                                            </h5>
                                                                                                                        </b></button>
                                                                                                                </div>
                                                                                                                <%}%>
                                                                                                    </div>
                                                                                                </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                        </div>
                                                    </div>
                                                    <% i++} }) %>
                                        </div>
                                    </div>
                            </div>
                            <% })}else{%>
                                <div class="container border mt-2 col-md-12 col-sm-12 col-12 p-2" style="background-color: #ffffff;">
                                    <h3>
                                        <p class="modal-header border-danger">Your Shopping Cart</p>
                                    </h3>
                                    <div class="text-center mt-3 mb-3">
                                        <img src="/img/cart.png" width="200px">
                                        <h4 class="mt-3 mb-3" style="color: var(--bg-dark);">Your Cart is Empty</h4>
                                        <h6 style="font-size: 14px;">Let's start shopping, looks like you haven't added anything to your cart yet!</h6>
                                        <a href="/#deals" class="btn btn-main mt-2 mb-2">Shop Now</a>
                                    </div>
                                </div>
                                <%}%>

                                    <% if(seller.length!=0){%>
                                        <div class="container mt-2 col-md-2 col-sm-12 col-11 mb-3 p-2" style="background-color:  #ffffff; max-height: 320px;">
                                            <h2>
                                                <p class="modal-header border-danger">Total</p>
                                            </h2>
                                            <div id="bill">

                                                <div class="row mt-4 text-center">
                                                    <div class="col-md-6 col-sm-7 col-7 card-subtitle">
                                                        <b>Subtotal</b>
                                                    </div>
                                                    <div class="col-md-6 col-sm-4 col-4 card-subtitle text-center">
                                                        <small>₹</small><label id="subtotal">
                                                            <%= subTotal %>
                                                        </label>
                                                    </div>
                                                </div>

                                                <div class="row mt-4 text-center">
                                                    <div class="col-md-6 col-sm-7 col-7 card-subtitle">
                                                        <b>Delivery </b>
                                                    </div>
                                                    <div class="col-md-6 col-sm-4 col-4 card-subtitle text-center">
                                                        <label id="dilevery">FREE</label>
                                                    </div>
                                                </div>
                                                <hr>

                                                <div class="row mt-4 text-center">
                                                    <div class="col-md-6  col-sm-7 col-7">
                                                        <b>TOTAL: </b>
                                                    </div>
                                                    <div class="col-md-6 col-sm-4 col-4  text-center">
                                                        <small>₹</small><label id="total">
                                                            <%= Total %>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="btn btn-warning mt-4  btn-lg col-md-12 col-sm-12 col-12" style=" font-family: cursive;" id="buy" onclick="gotoCheckout('<%= user %>')">BUY NOW
                                            </button>
                                        </div>
                                        <%}%>
                    </div>
                </div>
            </div>
            <!-- Login Modal -->
            <%- include('login') %>
        </div>
        <!-- Footer -->
        <%- include('footer') %>
            <script>
                function gotoCheckout(userID) {
                    window.location = "/checkout"
                }
            </script>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/js/user/login.js"></script>
            <script src="/js/user/cartprod.js"></script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>