<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Cart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/home.css">
    <link href="/css/user/login.css" rel="stylesheet">
    <style>

    </style>
</head>

<body>
    <div class="wrapper">
        <div id="body" class="active">
            <!-- NAVBAR -->
            <section id="header">
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid ">
                        <a class="navbar-brand" href="/">
                            <img id="BrandLogo" src="/img/DigMart.png" class="img-fluid">
                        </a>
                        <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
                            type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="toggler-icon top-bar"></span>
                            <span class="toggler-icon middle-bar"></span>
                            <span class="toggler-icon bottom-bar"></span>
                        </button>
                        <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                            <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                                <li class="nav-item mx-2 text-center">
                                    <a class="nav-link" href="/seller/signup">Become a Seller</a>
                                </li>
                                <li class="nav-item mx-2 text-center">
                                    <a class="nav-link" href="#deals">Products</a>
                                </li>
                                <li class="nav-item mx-2 text-center">
                                    <a class="nav-link" href="#Sellers">Sellers</a>
                                </li>
                                <li class="nav-item mx-2 text-center">
                                    <a class="nav-link" href="#footer">About</a>
                                </li>
                                <li class="nav-item mx-2 text-center">
                                    <div class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2"
                                            role="button" data-bs-toggle="dropdown" aria-expanded="false"><i
                                                class="fas fa-user"></i></a>
                                        <ul class="dropdown-menu dropdown-menu-end"
                                            aria-labelledby="navbarScrollingDropdown2">
                                            <% if (!user) { %>
                                                <li><a class="dropdown-item" data-bs-target="#loginpopup"
                                                        data-bs-toggle="modal">Sign in</a></li>
                                                <% } else{%>
                                                    <li><a class="dropdown-item" href="#">My Orders</a></li>
                                                    <li><a class="dropdown-item" href="#">Wishlist</a></li>

                                                    <li><a class="dropdown-item" href="#"><i
                                                                class="fas fa-shopping-cart"></i>
                                                            View
                                                            Cart</a></li>
                                                    <li>
                                                        <hr class="dropdown-divider">
                                                    </li>
                                                    <li><a class="dropdown-item" href="/login/logout"><i
                                                                class="fas fa-sign-out-alt"></i>Logout</a></li>
                                                    <% } %>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </section>

            <div class="container-fluid">
                <div class="grandparent row">
                    <div class="container border mt-3 col-md-9 col-sm-11 col-11 p-1" style="background-color:  #ffffff; ">
                        <h3>
                            <p class="modal-header border-danger">Your Shopping Cart</p>
                        </h3>
                        <% if(seller.length!=0) {var i=0; seller.forEach(function(data){ %>
                            <div class="parent ">
                                <div class="card p-1" style="background-color: rgb(247, 248, 249); ">
                                    <label style="color: black;">
                                        <h5><b>
                                                <%= data.busName %>
                                            </b></h5>
                                    </label>
                                    <hr class="mt-0" style="color: black; height: 2px;">
                                    <% cartData.forEach(function(cartData){%>
                                        <% if(cartData.sellerID._id.toString()==data._id.toString()) { %>
                                            <div class="card p-0 " style="box-shadow: 2px 2px rgb(136, 136, 138);">
                                                <div class=" ms-1 row  p-0 w-100">
                                                    <%if(cartData.variantID){%>
                                                    <div class="image col-md-3 mt-2">
                                                        <img src=" <%= cartData.variantID.images[0] %>"
                                                            class="img-fluid rounded-start border-1 border" width="100%" h="100%">
                                                    </div>
                                                    <%}else{%>
                                                        <div class="image col-md-3 mt-2">
                                                            <img src=" <%= cartData.productID.images[0] %>"
                                                                class="img-fluid rounded-start border-1 border" width="100%" h="100%">
                                                        </div>
                                                        <%}%>
                                                    <div class="col-md-9 p-0">
                                                        <div class="row col-md-12 ms-1">
                                                            <div class="card-body mt-2 col-md-10 col-sm-10 col-10 p-0" >
                                                                <div class="row p-1 ms-0">
                                                                    <h5 class="card-title">
                                                                        <label id="productName" name="productName">
                                                                            <%= cartData.productID.productName %>:
                                                                                &nbsp;
                                                                        </label>
                                                                    </h5>
                                                                    <label id="productName" name="productName">
                                                                        <%= cartData.productID.description %>
                                                                    </label>
                                                                </div>

                                                                
                                                                <div class="row">
                                                                    <%if(cartData.variantID){%>
                                                                    <div class="col-md-4">
                                                                        <div class="row mt-2 ms-0">
                                                                            <div
                                                                                class="col-md-6 col-sm-4 card-subtitle">
                                                                                <b>Color:</b>
                                                                            </div>
                                                                            <div
                                                                                class="col-md-6 col-sm-8 card-subtitle text-left">
                                                                                <label id="colours" name="colours">
                                                                                    <%=cartData.colour %>
                                                                                </label>
                                                                            </div>
                                                                        </div>

                                                                        <div class="row mt-2 ms-0">
                                                                            <div
                                                                                class="col-md-6 col-sm-4 card-subtitle">
                                                                                <b>Size:</b>
                                                                            </div>
                                                                            <div
                                                                                class="col-md-6 col-sm-8 card-subtitle">
                                                                                <label id="colours" name="colours">
                                                                                    <%=cartData.size %>
                                                                                </label>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <%}%>
                                                                    <div class="col-md-7 mb-2">
                                                                        <div class="row mt-2 ms-0">
                                                                            <div
                                                                                class="col-md-3 col-sm-4 card-subtitle">
                                                                                <b>Price:</b>
                                                                            </div>
                                                                            <%if(cartData.variantID){%>
                                                                            <div class="col-md-9  col-sm-8 card-subtitle">
                                                                                <%if(cartData.variantID.sizes[size[i]].discount==null){%>
                                                                                    <p
                                                                                        class="card-text text-dark text-black-20 fs-6">
                                                                                        ₹
                                                                                        <strong>
                                                                                            <%=cartData.variantID.sizes[size[i]].actualPrice%>
                                                                                        </strong>
                                                                                    </p>
                                                                                    <%} else{%>
                                                                                        <p class="card-text text-dark">
                                                                                            <strong>
                                                                                                ₹
                                                                                                <%=cartData.variantID.sizes[size[i]].finalPrice%>
                                                                                            </strong><strike><span
                                                                                                    class="text-black-20">₹
                                                                                                    <%=cartData.variantID.sizes[size[i]].actualPrice%>
                                                                                                </span></strike><span
                                                                                                class="text-success fs-6">
                                                                                                <%=cartData.variantID.sizes[size[i]].discount%>
                                                                                                    % off
                                                                                            </span>
                                                                                        </p>

                                                                                        <%}%>

                                                                            </div>
                                                                            <%}else{%>
                                                                                <div class="col-md-9  col-sm-8 card-subtitle">
                                                                                    <%if(cartData.productID.discount==null){%>
                                                                                        <p
                                                                                            class="card-text text-dark text-black-20 fs-6">
                                                                                            ₹
                                                                                            <strong>
                                                                                                <%=cartData.productID.actualPrice%>
                                                                                            </strong>
                                                                                        </p>
                                                                                        <%} else{%>
                                                                                            <p class="card-text text-dark">
                                                                                                <strong>
                                                                                                    ₹
                                                                                                    <%=cartData.productID.finalPrice%>
                                                                                                </strong><strike><span
                                                                                                        class="text-black-20">₹
                                                                                                        <%=cartData.productID.actualPrice%>
                                                                                                    </span></strike><span
                                                                                                    class="text-success fs-6">
                                                                                                    <%=cartData.productID.discount%>
                                                                                                        % off
                                                                                                </span>
                                                                                            </p>
    
                                                                                            <%}%>
    
                                                                                </div>
                                                                                <%}%>
                                                                        </div>


                                                                        <div class="row mt-2 ms-0" style="max-height: 50px;">
                                                                            <div
                                                                                class="col-md-4 col-sm-4 col-4 card-text mt-2">
                                                                                <b>Quantity:</b>
                                                                            </div>
                                                                            <%if(cartData.variantID){%>
                                                                            <div class="col-md-8 col-sm-3 col-3">
                                                                                <input
                                                                                    class="form-control border-1 border-dark"
                                                                                    value="<%= cartData.quantity %>"
                                                                                    name="quantity" id="<%=i%>quantity"
                                                                                    style="max-width: 70px; text-align:center;"
                                                                                    type="number" size="2" MIN="1"
                                                                                    MAX="<%=cartData.variantID.sizes[size[i]].quantity%>"
                                                                                    onchange="myFunction('<%=cartData._id%>',this)">
                                                                            </div>
                                                                            <%}else{%>
                                                                                <div class="col-md-8 col-sm-3 col-3">
                                                                                    <input
                                                                                        class="form-control border-1 border-dark"
                                                                                        value="<%= cartData.quantity %>"
                                                                                        name="quantity" id="<%=i%>quantity"
                                                                                        style="max-width: 70px; text-align:center;"
                                                                                        type="number" size="2" MIN="1"
                                                                                        MAX="<%=cartData.productID.quantity%>"
                                                                                        onchange="myFunction('<%=cartData._id%>',this)">
                                                                                </div>
                                                                                <%}%>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                            <div class="col-md-1 col-sm-12 col-12 mt-1 ">
                                                                <h4><a href="/cart/delete-cart/<%= cartData._id %>"><i
                                                                            class="fa fa-minus-square"
                                                                            style="color: rgb(188, 21, 21); "
                                                                            aria-hidden="true"></i></a></h4>
                                                            </div>
                                                        </div>

                                                    </div>

                                                </div>
                                            </div>
                                            <% i++} }) %>
                                </div>
                            </div>
                            <% })}%>


                    </div>


                    <div class="container mt-3 col-md-2 col-sm-10 col-10 mb-3"
                        style="background-color:  #ffffff; max-height: 320px;">
                        <h2>
                            <p class="modal-header border-danger">Total</p>
                        </h2>
                        <div id="bill">

                            <div class="row mt-4">
                                <div class="col-md-6 col-sm-8 col-8 card-subtitle">
                                    <b>Subtotal</b>
                                </div>
                                <div class="col-md-6 col-sm-4 col-4 card-subtitle text-center">
                                    <small>₹</small><label id="subtotal">
                                        <%= subTotal %>
                                    </label>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-6 col-sm-8 col-8 card-subtitle">
                                    <b>Delivery </b>
                                </div>
                                <div class="col-md-6 col-sm-4 col-4 card-subtitle text-center">
                                    <label id="dilevery">FREE</label>
                                </div>
                            </div>
                            <hr>

                            <div class="row mt-4 " style="font-size: 20px; font-family:Arial, Helvetica, sans-serif;">
                                <div class="col-md-4  col-sm-8 col-8">
                                    <b>TOTAL: </b>
                                </div>
                                <div class="col-md-8 col-sm-4 col-4  text-center">
                                    <small>₹</small><label id="total">
                                        <%= Total %>
                                    </label>
                                </div>
                            </div>

                        </div>

                        <button class="btn btn-warning mt-4 mb-2 btn-lg col-md-12 col-sm-12 col-12"
                            style=" font-family: cursive;" id="buy">BUY NOW
                        </button>


                    </div>
                </div>


            </div>


        </div>
        <!-- Login Modal -->
        <%- include('login') %>
    </div>




    <script>
        function myFunction(cartid, ip) {
            var val = ip.id;
            let qty = document.getElementById(val).value;
            window.location.replace('/cart/edit-cart/' + cartid + '/' + qty);
        }
    </script>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/user/login.js"></script>
</body>

</html>