<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>DigMart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/user/home.css">
    <link href="/css/user/login.css" rel="stylesheet">


</head>

<body>

    <!-- NAVBAR -->
    <section id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/">
                    <img id="BrandLogo" src="/img/DigMart.png" class="img-fluid">
                </a>
                <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="/seller/signup">Become a Seller</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#deals">Products</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#Sellers">Sellers</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown2">
                                    <% if (!user) { %>
                                        <li><a class="dropdown-item" data-bs-target="#loginpopup"
                                                data-bs-toggle="modal">Sign in</a></li>
                                        <% } else{%>
                                            <li><a class="dropdown-item" href="#">My Orders</a></li>
                                            <li><a class="dropdown-item" href="#">Wishlist</a></li>

                                            <li><a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i>
                                                    View
                                                    Cart</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/login/logout"><i
                                                        class="fas fa-sign-out-alt"></i>Logout</a></li>
                                            <% } %>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <!-- BANNER -->
    <section id="banner">
        <div class="banner">
            <h1>DigMart</h1>
            <div class="py-3">
                <h2 class="fs-2" style="letter-spacing: 1.75px;">Discover the best in your Locality</h2>
            </div>
            <form class="d-flex search-control py-4" role="search">
                <input class="form-control ms-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success2" type="submit"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </section>

    <!-- CATEGORIES -->
    <section id="Categories" style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Shop by Category</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div id="prevCategoryBtn" class="px-2 fas fa-chevron-left fa-2x"></div>
            <div class="swiper categorySwiper">
                <div id="category1" class="swiper-wrapper">
                    <% if(catData.length!=0){ catData.forEach(function(data){ %>
                        <div class="cat swiper-slide">
                            <div class="imgDiv">
                                <a href="\shop-by-category?id=<%=data._id%>">
                                    <img src="<%=data.catImage%>" class="rounded-circle" alt="<%=data.catName%>">
                                </a>
                            </div>
                            <div class="des px-2 text-center">
                                <a href="\shop-by-category?id=<%=data._id%>">
                                    <p>
                                        <%=data.catName%>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <% }) } %>
                </div>
            </div>
            <div id="nextCategoryBtn" class="px-2 fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- SELLERS -->
    <section id="Sellers" style="margin-top: 5rem; margin-bottom: 5rem;">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Featured Sellers</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div id="prevSellerBtn" class="px-2 fas fa-chevron-left fa-2x"></div>
            <div class="swiper sellerSwiper">
                <div id="seller1" class="swiper-wrapper">
                    <% if(selData.length!=0){ selData.forEach(function(data){ %>
                        <div class="sel swiper-slide">
                            <div class="imgDiv">
                                <a href="">
                                    <img src="<%=data.busLogo%>" class="rounded-circle" alt="<%=data.busName%>">
                                </a>
                            </div>
                            <div class="des px-2 text-center">
                                <a href="">
                                    <span class="selName fs-5 d-block"><b>
                                            <%=data.busName%>
                                        </b></span>
                                    <span class="selCat text-muted d-block">
                                        <%data.busCat.forEach(function(cat){%>
                                            <%=cat.catName%>,
                                        <% })%>
                                    </span>
                                </a>
                            </div>
                        </div>
                        <% }) } %>
                </div>
            </div>
            <div id="nextSellerBtn" class="px-2 fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- PRODUCTS -->
    <section id="deals" class="my-5">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Lightning Deals</h2>
        </div>
        <div class="swiper productSwiper">
            <div id="product1" class="swiper-wrapper">
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://i.imgur.com/VY0R9aV.jpg" alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Personal Electronics</span>
                        <h6>Colorfit Caliber Smartwatch</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.2</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 799</h5>
                            <span class="discPrice text-muted px-2">₹999</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://static.digit.in/product/thumb_222578_product_td_300.jpeg" alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Personal Electronics</span>
                        <h6>Macbook Pro M1 Max</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.5</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 99999</h5>
                            <span class="discPrice text-muted px-2">₹100000</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://www.ifbappliances.com/media/catalog/product/cache/f6d60de4095a6e5204f81c04aa5b766f/0/5/05072021_tl-sdin_11.0kg1.png"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Electronics</span>
                        <h6>Haier 8 Kg Automatic</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.0</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 44499</h5>
                            <span class="discPrice text-muted px-2">₹49999</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://images.samsung.com/is/image/samsung/in-full-hd-tv-te50fa-ua43te50fakxxl-frontblack-231881877?$650_519_PNG$"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Electronics</span>
                        <h6>Samsung 108cm Smart TV</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.3</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 27999</h5>
                            <span class="discPrice text-muted px-2">₹29999</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://cdn.shopify.com/s/files/1/0057/8938/4802/products/ae22e3a6-9590-401a-94f6-d8ecf42b4932_600x.png?v=1625046351"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Personal Electronics</span>
                        <h6>Boat Rockerz 450</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.9</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 1499</h5>
                            <span class="discPrice text-muted px-2">₹1999</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://m.media-amazon.com/images/I/71AgUK2NGPL._UX569_.jpg" alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Men's Fashion</span>
                        <h6>Half Sleeve Printed Shirt</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 3.9</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 239</h5>
                            <span class="discPrice text-muted px-2">₹299</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://rukminim1.flixcart.com/image/332/398/jcqjr0w0/hand-messenger-bag/w/g/x/plain-drymilk-acrylic-handle-wa12122017-hand-held-bag-esbeda-original-imaffsjnydzhkspt.jpeg?q=50"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Fashion Accessories</span>
                        <h6>Esbeda Handbag</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.6</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 3499</h5>
                            <span class="discPrice text-muted px-2">₹4499</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://rukminim1.flixcart.com/image/416/416/kqidx8w0/book/c/6/b/the-wealth-of-nations-original-imag4gczsw6sejyk.jpeg?q=70"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Books & Toys</span>
                        <h6>The Wealth of Nations Paperback</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.5</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 251</h5>
                            <span class="discPrice text-muted px-2">₹ 351</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
                <div class="pro swiper-slide">
                    <div class="imgDiv">
                        <div class="discount-badge">10% off</div>
                        <i class="fa fa-heart" onclick="wishlist(this)"></i>
                        <img src="https://static.nike.com/a/images/c_limit,w_592,f_auto/t_product_v1/15700c12-7177-4110-a8d4-74eb2315e8ac/liverpool-fc-strike-football-RZshdn.png"
                            alt="">
                    </div>
                    <div class="des px-2 text-start">
                        <span class="category">Sports Equipments</span>
                        <h6>L.F.C Nike Football</h6>
                        <div class="rating py-1"><i class="fa fa-star"> 4.4</i></div>
                        <div>
                            <h5 class="prodPrice">₹ 1699</h5>
                            <span class="discPrice text-muted px-2">₹3999</span>
                        </div>
                    </div>
                    <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                </div>
            </div>
            <div id="prevProductBtn" class="swiper-button-prev fas fa-chevron-left fa-2x"></div>
            <div id="nextProductBtn" class="swiper-button-next fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- FOOTER -->
    <section id="footer">
        <footer class="text-center text-lg-start text-white">
            <div class="container p-4 pb-0">
                <section class="">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4">
                                <b>DigMart</b>
                            </h6>
                            <p>
                                Description, Vision, Aim, Mission -
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas cupiditate expedita
                                ipsum dolorem a possimus?
                            </p>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4"><b>About</b></h6>
                            <p>
                                <a class="text-white">About us</a>
                            </p>
                            <p>
                                <a class="text-white">Delivery Information</a>
                            </p>
                            <p>
                                <a class="text-white">Privacy Policy</a>
                            </p>
                            <p>
                                <a class="text-white">Terms & Conditions</a>
                            </p>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                            <h6 class="text-uppercase mb-4">
                                <b>My Account</b>
                            </h6>
                            <p>
                                <a class="text-white">View Cart</a>
                            </p>
                            <p>
                                <a class="text-white">Wishlist</a>
                            </p>
                            <p>
                                <a class="text-white">Orders</a>
                            </p>
                            <p>
                                <a class="text-white">Forgot Password</a>
                            </p>
                        </div>

                        <hr class="w-100 clearfix d-md-none" />

                        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3 text-md-start">
                            <h6 class="text-uppercase mb-4"><b>Contact</b></h6>
                            <p><i class="fas fa-home mr-3"></i> Lal Qila, Chandni Chowk, Delhi - 110006</p>
                            <p><i class="fas fa-envelope mr-3"></i> DigMart@outlook.com</p>
                            <p><i class="fas fa-phone mr-3"></i> + 91 9346576281</p>
                            <p><i class="fas fa-print mr-3"></i> + 91 22 1234 5678</p>
                        </div>
                    </div>
                </section>

                <hr class="my-3">

                <section class="p-3 pt-0">
                    <div class="row d-flex align-items-center">
                        <div class="col-md-7 col-lg-8 text-center text-md-start">
                            <div class="p-3">
                                © 2022, DigMart Pvt. ltd.
                            </div>
                        </div>
                        <div class="col-md-5 col-lg-4 ml-lg-0 text-center text-md-end">
                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-google"></i></a>

                            <a class="btn btn-outline-light btn-floating m-1" class="text-white" role="button"><i
                                    class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </section>
            </div>
        </footer>
    </section>

    <!-- Login Modal -->
    <%- include('login') %>


</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/user/swiper-bundle.min.js"></script>
<script src="/js/user/login.js"></script>
<script src="/js/user/home.js"></script>

</html>