<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>DigMart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/swiper-bundle.min.css">
    <link rel="stylesheet" href="/css/user/home.css">
    <link href="/css/user/login.css" rel="stylesheet">

</head>

<body>

    <!-- NAVBAR -->
    <section id="header">
        <nav class="navbar navbar-expand-md">
            <div class="container-fluid ">
                <a class="navbar-brand px-3" href="/">
                    <img id="BrandLogo" src="/img/DigMart.png" class="img-fluid">
                </a>
                <button
                    class="navbar-toggler collapsed d-flex d-md-none flex-column justify-content-around me-1 position-relative"
                    id="navbar-toggler">
                    <span class="fas fa-bars fs-4 text-white"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbar-menu">
                    <ul class="navbar-nav ms-auto me-2 me-lg-4 mb-2 mb-md-0">
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="/seller/signup">Become a Seller</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#deals">Products</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#Sellers">Sellers</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></a>
                                <ul class="dropdown-menu dropdown-menu-md-end"
                                    aria-labelledby="navbarScrollingDropdown2">
                                    <% if (!user) { %>
                                        <li><a class="dropdown-item" data-bs-target="#loginpopup"
                                                data-bs-toggle="modal"><i class="fas fa-sign-in-alt"></i> Sign in</a>
                                        </li>
                                        <% } else{%>
                                            <li><a class="dropdown-item" href="#"><i class="fas fa-list"></i> My
                                                    Orders</a></li>
                                            <li><a class="dropdown-item" href="/wishlist/<%=user%>"><i
                                                        class="fas fa-heart"></i> Wishlist</a></li>

                                            <li><a class="dropdown-item" href="/cart/<%=user%>"><i
                                                        class="fas fa-shopping-cart"></i>
                                                    View
                                                    Cart</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/login/logout"><i
                                                        class="fas fa-sign-out-alt"></i>Logout</a></li>
                                            <% } %>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="homeOffCanvas"
                    aria-labelledby="offcanvasDarkNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Welcome Back!</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <% if (!user) { %>
                                <li class="nav-item">
                                    <a class="nav-link p-3" data-bs-dismiss="offcanvas" data-bs-target="#loginpopup"
                                        data-bs-toggle="modal"><i class="fas fa-sign-in-alt"></i>
                                        Login</a>
                                </li>
                                <% } else { %>
                                    <div class="accordion accordion-flush nav-item" id="accordionFlushExample">
                                        <div class="accordion-item">
                                            <h2 class="accordion-header nav-link p-3" id="flush-headingOne">
                                                <button class="accordion-button collapsed p-0" type="button"
                                                    data-bs-toggle="collapse" data-bs-target="#flush-collapseOne"
                                                    aria-expanded="false" aria-controls="flush-collapseOne">
                                                    <i class="fas fa-user-circle"></i>&nbsp;Profile
                                                </button>
                                            </h2>
                                            <div id="flush-collapseOne" class="accordion-collapse collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample">
                                                <div class="accordion-body py-0">
                                                    <li class="nav-item">
                                                        <a class="nav-link p-3" href="#"><i class="fas fa-list"></i> My
                                                            Orders</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link p-3" href="/wishlist/<%=user%>"><i
                                                                class="fas fa-heart"></i>
                                                            Wishlist</a>
                                                    </li>
                                                    <li class="nav-item">
                                                        <a class="nav-link p-3" href="/cart/<%=user%>"><i
                                                                class="fas fa-shopping-cart"></i>
                                                            View Cart</a>
                                                    </li>
                                                </div>
                                            </div>
                                        </div>
                                        <% } %>
                                            <li class="nav-item">
                                                <a class="nav-link p-3" href="#Sellers" data-bs-dismiss="offcanvas"><i
                                                        class="fas fa-user-tie"></i> Featured
                                                    Sellers</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3" href="#deals" data-bs-dismiss="offcanvas"><i
                                                        class="fas fa-bolt"></i> Lightning Deals</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link p-3" href="/seller/signup"><i
                                                        class="fas fa-handshake"></i> Become a Seller</a>
                                            </li>
                                            <% if (user) { %>
                                                <li class="nav-item">
                                                    <a class="nav-link p-3" href="/login/logout"><i
                                                            class="fas fa-sign-out-alt"></i>
                                                        Logout</a>
                                                </li>
                                                <%}%>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </section>

    <!-- BANNER -->
    <section id="banner" class="position-relative">
        <div class="banner">
            <h1>DigMart</h1>
            <div class="py-3">
                <h2 class="fs-2" style="letter-spacing: 1.75px;">Discover the best in your Locality</h2>
            </div>
            <div class="search-wrapper pt-4  mx-auto">
                <form class="d-flex search-container justify-content-center align-items-center" role="search" method="post" action="/hello" novalidate>
                    <input id="searchField" class="form-control" type="search" placeholder="Search" aria-label="Search"
                        onkeyup="searchData(this)">
                    <button id="searchBtn" class="btn" type="submit"><i class="fas fa-search"></i></button>
                </form>
                <div id="search-results">
                    <ul id="results-products">
                    </ul>
                    <ul id="results-sellers">
                    </ul>
                </div>
            </div>

        </div>
    </section>

    <!-- CATEGORIES -->
    <section id="Categories" style="margin-top: 4rem; margin-bottom: 4rem;">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Shop by Category</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div id="prevCategoryBtn" class="px-2 fas fa-chevron-left fa-2x"></div>
            <div class="swiper categorySwiper">
                <div id="category1" class="swiper-wrapper">
                    <% if(catData.length!=0){ catData.forEach(function(data){ %>
                        <div class="cat swiper-slide">
                            <div class="imgDiv">
                                <a href="\shop-by-category?cat=<%=data.catName%>">
                                    <img src="<%=data.catImage%>" class="rounded-circle" alt="<%=data.catName%>">
                                </a>
                            </div>
                            <div class="des px-2 text-center">
                                <a href="\shop-by-category?cat=<%=data.catName%>">
                                    <p>
                                        <%=data.catName%>
                                    </p>
                                </a>
                            </div>
                        </div>
                        <% }) } %>
                </div>
            </div>
            <div id="nextCategoryBtn" class="px-2 fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- SELLERS -->
    <section id="Sellers" style="margin-top: 4rem; margin-bottom: 4rem;">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Featured Sellers</h2>
        </div>
        <div class="d-flex align-items-center justify-content-between">
            <div id="prevSellerBtn" class="px-2 fas fa-chevron-left fa-2x"></div>
            <div class="swiper sellerSwiper">
                <div id="seller1" class="swiper-wrapper">
                    <% if(selData.length!=0){ selData.forEach(function(data){ %>
                        <div class="sel swiper-slide" onclick="openSeller('<%=data._id%>')">
                            <div class="imgDiv">
                                <img src="<%=data.busLogo%>" class="rounded-circle" alt="<%=data.busName%>">
                            </div>
                            <div class="des px-2 text-center">
                                <span class="selName fs-5 d-block"><b>
                                        <%=data.busName%>
                                    </b></span>
                                <span class="selCat text-muted d-block">
                                    <%data.busCat.forEach(function(cat){%>
                                        <%=cat.catName%>,
                                            <% })%>
                                </span>
                            </div>
                        </div>
                        <% }) } %>
                </div>
            </div>
            <div id="nextSellerBtn" class="px-2 fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- PRODUCTS -->
    <section id="deals" class="my-5">
        <div class="headline text-center m-4">
            <h2 class="pb-3 position-relative d-inline-block">Lightning Deals</h2>
        </div>
        <div class="swiper productSwiper">
            <div id="product1" class="swiper-wrapper">
                <% proDocs.forEach(function(product){%>
                    <div class="pro swiper-slide">
                        <%if(product.hasVariant){ for(j=0; j < varDocs.length; j++){
                            if(varDocs[j].prodID.equals(product._id)){ %>
                            <div class="imgDiv" onclick="openProduct('<%=product._id%>', '<%=varDocs[j]._id%>')">
                                <%if(varDocs[j].sizes[0].discount){%>
                                    <div class="prodDiscount">
                                        <%=varDocs[j].sizes[0].discount%>
                                    </div>
                                    <%}%>
                                        <img src="<%=varDocs[j].images%>" alt="<%=product.productName%>">
                            </div>
                            <div class="des px-2 text-start"
                                onclick="openProduct('<%=product._id%>', '<%=varDocs[j]._id%>')">
                                <span class="prodCat d-block">
                                    <%=product.category%>
                                </span>
                                <span class="prodName d-block">
                                    <%=product.productName%>
                                </span>
                                <div class="prodRating"><i class="fa fa-star"> 4.2</i></div>
                                <div>
                                    <span class="prodPrice">
                                        <%=varDocs[j].sizes[0].finalPrice%>
                                    </span>
                                    <%if(varDocs[j].sizes[0].discount){%>
                                        <span class="discPrice text-muted px-2">
                                            <%=varDocs[j].sizes[0].actualPrice%>
                                        </span>
                                        <%}%>
                                </div>
                            </div>
                            <i class="fa fa-heart"
                                onclick="wishlist(this, '<%=product.sellerID%>', '<%=product._id%>', '<%=varDocs[j]._id%>', '<%=varDocs[j].sizes[0].sizes%>')"></i>
                            <%}}} else {%>
                                <div class="imgDiv" onclick="openProduct('<%=product._id%>', null)">
                                    <%if(product.discount){%>
                                        <div class="prodDiscount">
                                            <%=product.discount%>
                                        </div>
                                        <%}%>
                                            <img src="<%=product.images%>" alt="<%=product.productName%>">
                                </div>
                                <div class="des px-2 text-start" onclick="openProduct('<%=product._id%>', null)">
                                    <span class="prodCat d-block">
                                        <%=product.category%>
                                    </span>
                                    <span class="prodName d-block">
                                        <%=product.productName%>
                                    </span>
                                    <div class="prodRating"><i class="fa fa-star"> 4.2</i></div>
                                    <div>
                                        <span class="prodPrice">
                                            <%=product.finalPrice%>
                                        </span>
                                        <%if(product.discount){%>
                                            <span class="discPrice text-muted px-2">
                                                <%=product.actualPrice%>
                                            </span>
                                            <%}%>
                                    </div>
                                </div>
                                <i class="fa fa-heart"
                                    onclick="wishlist(this, '<%=product.sellerID%>', '<%=product._id%>', null, null)"></i>
                                <%}%>
                    </div>
                    <%})%>
            </div>
            <div id="prevProductBtn" class="swiper-button-prev fas fa-chevron-left fa-2x"></div>
            <div id="nextProductBtn" class="swiper-button-next fas fa-chevron-right fa-2x"></div>
        </div>
    </section>

    <!-- FOOTER -->
    <section id="footer">
        <%- include('footer') %>
    </section>

    <input type="hidden" id="hidLogin" value="<%=user%>">

    <!-- Login Modal -->
    <%- include('login') %>

</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/user/swiper-bundle.min.js"></script>
<script src="/js/user/login.js"></script>
<script src="/js/user/home.js"></script>

</html>