<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" type="image/png" href="/img/favicon.png" />
    <title>
        <%= sellerData.busName %>
    </title>

    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/user/seller-profile.css" rel="stylesheet" />
    <link href="/css/user/shop-by-category.css" rel="stylesheet">
</head>

<body>
    <!--header-->
    <section id="header">
        <%- include('navbar') %>
    </section>

    <div class="container bg-white p-3 mt-3">
        <div class="page-title">
            <div class="card w-100 align-middle">
                <div class="gallery">
                    <% if(galleryData){%>
                        <%if(galleryData.images.length!=0) { %>
                            <div class="gallery__item gallery__item--1">
                                <img src="<%= sellerData.busLogo %>" alt="" id="gallImage" class="gallery__img" />
                            </div>
                            <div class="gallery__item gallery__item--2">
                                <img src="<%=galleryData.images[0].url%>" alt="<%= sellerData.busLogo %>" id="gallImage" class="gallery__img" />
                            </div>
                            <div class="gallery__item gallery__item--3">
                                <img src="<%=galleryData.images[1].url%>" alt="<%= sellerData.busLogo %>" id="gallImage" class="gallery__img" />
                            </div>
                            <div class="gallery__item gallery__item--4">
                                <img src="<%=galleryData.images[2].url%>" alt="<%= sellerData.busLogo %>" id="gallImage" class="gallery__img" />
                            </div>
                            <div class="gallery__item gallery__item--5">
                                <img src="<%=galleryData.images[3].url%>" alt="<%= sellerData.busLogo %>" id="gallImage" class="gallery__img" />
                            </div>
                            <div class="gallery__item image_overlay" onclick="showgallery()">
                                <a>
                                    <h3>View Gallery</h3>
                                </a>
                            </div>
                            <%}}if(!galleryData || galleryData.images.length==0){%>
                                <div class="gallery__item gallery__item--1">
                                    <img src="<%= sellerData.busLogo %>" alt="" id="gallImage" class="gallery__img" />
                                </div>
                                <div class="gallery__item gallery__item--2">
                                    <img src="<%=sellerData.busLogo%>" alt="Gallery image 2" id="gallImage" class="gallery__img" />
                                </div>
                                <div class="gallery__item gallery__item--3">
                                    <img src="<%=sellerData.busLogo%>" alt="Gallery image 3" id="gallImage" class="gallery__img" />
                                </div>
                                <div class="gallery__item gallery__item--4">
                                    <img src="<%=sellerData.busLogo%>" alt="Gallery image 4" id="gallImage" class="gallery__img" />
                                </div>
                                <div class="gallery__item gallery__item--5">
                                    <img src="<%=sellerData.busLogo%>" alt="Gallery image 4" id="gallImage" class="gallery__img" />
                                </div>
                                <div class="gallery__item image_overlay" onclick="showgallery()">
                                    <a>
                                        <h3>View Gallery</h3>
                                    </a>
                                </div>
                                <%}%>
                </div>

                <span class="p-3">
                  <p class="fs-3 mb-0"><%= sellerData.busName %></p>
                  <p class="fs-6 text-black-50 mb-0"><%= sellerData.busAddress %><br /><span class="fs-6 text-success">Delivery Available At: <%=sellerData.busZip%></span></p>
                <div class="mt-2">
                    <% if(subscribed){ %>
                        <a role="button" onclick="unsubscribe('<%= sellerData._id %>')" class="btn btn-success me-2"><i class="fas fa-check"></i> Subscribed</a>
                        <% } else { %>
                            <a role="button" onclick="subscribe('<%= sellerData._id %>')" class="btn btn-outline-success me-2"><i class="fas fa-plus-circle"></i> Subscribe</a>
                            <% } %>
                                <a href="" class="btn btn-outline-success"><i class="fas fa-share-square"></i> Share</a>
                </div>
                </span>
            </div>
        </div>


        <div class="page-title">
            <ul class="nav nav-justified nav-tabs" id="myTab" role="tablist">
                <li class="nav-item shadow-sm" role="presentation">
                    <button class="nav-link text-dark fs-6 active" id="product-tab" data-bs-toggle="tab" data-bs-target="#product-tab-pane" type="button" role="tab" aria-controls="product-tab-pane" aria-selected="true">Explore Products</button>
                </li>

                <li class="nav-item shadow-sm" role="presentation">
                    <button class="nav-link text-dark fs-6" id="gallery-tab" data-bs-toggle="tab" data-bs-target="#gallery-tab-pane" type="button" role="tab" aria-controls="gallery-tab-pane" aria-selected="false">Gallery</button>
                </li>
            </ul>

            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade p-2 show active" id="product-tab-pane" role="tabpanel" aria-labelledby="contact-tab" tabindex="0">
                    <div class="row">
                        <div class="col-3 p-2">
                            <ul class="nav flex-column" id="overview-navbar">
                                <% 
                                if(catData.length!=0){ 
                                  var j=0; 
                                  catData.forEach(function(data){ %>
                                    <li class="nav-item">
                                        <a class="nav-link maindropdown" id="nav<%=j%>" href="#nav-<%=j%>" data-bs-toggle="collapse" aria-expanded="false" style="background-color: #3d7b7ffa;" role="button"><i class="fas fa-caret-down float-end toggleicon"></i> <%= data.category.catName %></a>
                                        <ul class="collapse list-unstyled mt-2 sidebargrp" id="nav-<%=j%>">
                                            <% 
                                              var catArr = data.subcat
                                              for (i = 0; i < catArr.length; i++){ 
                                            %>
                                                <li id="sidebar">
                                                    <a class="nav-link text-dark" onclick="selectedsubcat(this)" id="nav-<%=j%>-<%=i%>" data-bs-toggle="tab" data-bs-target="#tab-<%=j%>-<%=i%>" role="tab" aria-controls="#tab-<%=j%>-<%=i%>" href="#tab-<%=j%>-<%=i%>" aria-selected="false">
                                                        <%= catArr[i].subCatName %>
                                                    </a>
                                                </li>
                                                <% } %>
                                        </ul>
                                    </li>
                                    <% j++; })} %>
                            </ul>
                        </div>

                        <div class="col-9">
                            <div class="card-body tab-content" id="nav-tabContent">
                                <% if(catData.length!=0){
                                    var r=0; 
                                    catData.forEach(function(data){ 
                                        var catArr = data.subcat
                                        var catArr2 = []
                                        for (i = 0; i < catArr.length; i++){ 
                                            catArr2[i] = catArr[i].subCatName.replace(/[" "]/g, "_").replace(/["&"]/g, "_") 
                                    %>
                                    <div class="tab-pane fade" id="tab-<%=r%>-<%=i%>" role="tabpanel" aria-labelledby="nav-<%=catArr2[i]%>" tabindex="0">
                                        <div class="row justify-content-start ">
                                            <% proDocs.forEach(function(product){ %>
                                                <% if(data.category._id.equals(product.category._id)) { %>
                                                    <% if(product.subcategory._id.equals(catArr[i]._id)){  %>
                                                        <div class="prodContainer col-lg-4 col-sm-6 col-xs-6 mb-3">
                                                            <div class="pro ms-auto me-auto">
                                                                <% if(product.hasVariant){ for(j=0; j < varDocs.length; j++){
                                                                        if(varDocs[j].prodID.equals(product._id)){ %>
                                                                    <div class="imgDiv" onclick="openProduct( null , '<%=varDocs[j].slugID%>')">
                                                                        <%if(varDocs[j].sizes[0].discount){%>
                                                                            <div class="prodDiscount">
                                                                                <%=varDocs[j].sizes[0].discount%>
                                                                            </div>
                                                                            <%}%>
                                                                                <img src="<%=varDocs[j].images%>" alt="<%=product.productName%>">
                                                                    </div>
                                                                    <div class="des px-2 text-start" onclick="openProduct( null , '<%=varDocs[j].slugID%>')">
                                                                        <span class="prodCat d-block"><%= product.subcategory.subCatName %></span>
                                                                        <span class="prodName"><%=product.productName%></span>
                                                                        <div class="prodRating my-1"><i class="fa fa-star"> 4.2</i></div>
                                                                        <div>
                                                                            <span class="prodPrice"><%=varDocs[j].sizes[0].finalPrice%></span>
                                                                            <%if(varDocs[j].sizes[0].discount){%>
                                                                                <span class="discPrice text-muted px-2"><%=varDocs[j].sizes[0].actualPrice%></span>
                                                                                <%}%>
                                                                        </div>
                                                                    </div>
                                                                    <i class="fa fa-heart" onclick="wishlist(this, '<%=product.sellerID%>', '<%=product._id%>', '<%=varDocs[j]._id%>', '<%=varDocs[j].sizes[0].sizes%>')"></i>
                                                                    <%}}} else {%>
                                                                        <div class="imgDiv" onclick="openProduct('<%=product.slugID%>', null)">
                                                                            <%if(product.discount){%>
                                                                                <div class="prodDiscount">
                                                                                    <%=product.discount%>
                                                                                </div>
                                                                                <%}%>
                                                                                    <img src="<%=product.images%>" alt="<%=product.productName%>">
                                                                        </div>
                                                                        <div class="des px-2 text-start" onclick="openProduct('<%=product.slugID%>', null)">
                                                                            <span class="prodCat d-block"><%=product.subcategory%></span>
                                                                            <span class="prodName"><%=product.productName%></span>
                                                                            <div class="prodRating my-1"><i class="fa fa-star"> 4.2</i></div>
                                                                            <div>
                                                                                <span class="prodPrice"><%=product.finalPrice%></span>
                                                                                <%if(product.discount){%>
                                                                                    <span class="discPrice text-muted px-2"><%=product.actualPrice%></span>
                                                                                    <%}%>
                                                                            </div>
                                                                        </div>
                                                                        <i class="fa fa-heart" onclick="wishlist(this, '<%=product.sellerID%>', '<%=product._id%>', null, null)"></i>
                                                                        <%}%>
                                                            </div>
                                                        </div>
                                                        <% }}})%>
                                        </div>
                                    </div>
                                    <%} r++;})} %>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-pane fade" id="gallery-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                    <div class="container text-center">
                        <div class="row">
                            <% if(galleryData.images.length!=0){ 
                                    galleryData.images.forEach(function(image, index){%>
                                <div class="col-lg-3 col-md-4 col-xs-6 mt-3">
                                    <img onclick="showmodal('<%=image.url%>')" class="img-fluid img-thumbnail img-gallery" src="<%=image.url%>" />
                                </div>
                                <%})} else {%>
                                    <h4 class="mt-5">Nothing to show!</h4>
                                    <%}%>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <%- include('../imageModal') %>
        <%- include('footer') %>
            <%- include('login') %>
</body>

<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/js/user/seller-profile.js"></script>
<script src="/js/user/login.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>