<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>DigMart</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/user/shop-by-category.css" rel="stylesheet">

</head>

<body>
    <!-- NAVBAR -->
    <section id="header">
        <nav class="navbar navbar-expand-lg">
            <div class="container-fluid ">
                <a class="navbar-brand" href="/">
                    <img id="BrandLogo" src="/img/DigMart.png" class="img-fluid">
                </a>
                <button class="navbar-toggler collapsed d-flex d-lg-none flex-column justify-content-around"
                    type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02"
                    aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="toggler-icon top-bar"></span>
                    <span class="toggler-icon middle-bar"></span>
                    <span class="toggler-icon bottom-bar"></span>
                </button>
                <div class="collapse navbar-collapse " id="navbarTogglerDemo02">
                    <ul class="navbar-nav ms-auto me-4 mb-2 mb-lg-0">
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="/seller/signup">Become a Seller</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <a class="nav-link" href="#footer">About</a>
                        </li>
                        <li class="nav-item mx-2 text-center">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown2" role="button"
                                    data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user"></i></a>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarScrollingDropdown2">
                                    <% if (!user) { %>
                                        <li><a class="dropdown-item" data-bs-target="#loginpopup"
                                                data-bs-toggle="modal">Sign in</a></li>
                                        <% } else{%>
                                            <li><a class="dropdown-item" href="#">My Orders</a></li>
                                            <li><a class="dropdown-item" href="#">Wishlist</a></li>

                                            <li><a class="dropdown-item" href="#"><i class="fas fa-shopping-cart"></i>
                                                    View
                                                    Cart</a></li>
                                            <li>
                                                <hr class="dropdown-divider">
                                            </li>
                                            <li><a class="dropdown-item" href="/login/logout"><i
                                                        class="fas fa-sign-out-alt"></i>Logout</a></li>
                                            <% } %>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    <div class="text-center text-muted m-3 fs-1">
        <%=catDocs.catName%>
    </div>
    <div class="card">
        <nav class="position-relative">
            <button id="navLeft" class="btn"><i class="fas fa-angle-left"></i></button>
            <div class="nav nav-tabs ms-3 me-3 flex-nowrap pb-1" id="nav-tab" role="tablist">
                <% var catArr=catDocs.sub_category.split(', ')
                var catArr2 = []
                for (i = 0; i < catArr.length; i++){ 
                    catArr2[i] = catArr[i].replaceAll(' ', '_').replaceAll('&', '_' ) %>
                    <button class="nav-link flex-fill" id="nav-<%=catArr2[i]%>" data-bs-toggle="tab"
                        data-bs-target="#tab-<%=catArr2[i]%>" type="button" role="tab"
                        aria-controls="tab-<%=catArr2[i]%>" aria-selected="false">
                        <%=catArr[i]%>
                    </button>
                    <%} %>
                        <input type="hidden" id="firstnav" value="#nav-<%=catArr2[0]%>">
            </div>
            <button id="navRight" class="btn"><i class="fas fa-angle-right"></i></button>
        </nav>
        <div class="card-body tab-content" id="nav-tabContent">
            <% var catArr = catDocs.sub_category.split(', ')
            var catArr2 = []
            for (i = 0; i < catArr.length; i++){ 
                catArr2[i] = catArr[i].replaceAll(' ', '_').replaceAll('&', '_' ) %>
                <div class="tab-pane fade" id="tab-<%=catArr2[i]%>" role="tabpanel"
                    aria-labelledby="nav-<%=catArr2[i]%>" tabindex="0">
                        <div class="row justify-content-evenly ps-auto pe-auto">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6 col-xxl-6 mt-3">
                                <div id="searchDiv" class="form-control p-0 d-flex align-items-center">
                                    <i class="fas fa-search px-2"></i>
                                    <input class="flex-fill" type="search" placeholder="Search" aria-label="Search">
                                </div>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-3 order-lg-first col-xl-3 order-xl-first col-xxl-3 order-xxl-first mt-3">
                                <select name="subCat" class="form-select" onchange="catChange(this.value)" required>
                                    <option value="All" selected>Sub-category - All</option>
                                    <% var catArr=catDocs.sub_category.split(', ') 
                                        catArr.forEach(element => { %>
                                            <option value="<%=element %>">Sub-category - <%=element %></option>
                                        <%})  %>
                                      </select>
                            </div>
                            <div class="col-6 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 mt-3">
                                    <button type="button" class="btn btn-outline-secondary w-100" data-bs-toggle="modal" data-bs-target="#filterModal">
                                       <i class="fas fa-filter"></i> Filters
                                      </button>
                            </div>
                        </div>
                        <div class="row justify-content-evenly ps-auto pe-auto">
                                <% proDocs.forEach(function(product){
                                    if(product.subcategory == catArr[i]){
                                       %>
                                    <div class="flex-fill col-5 col-sm-4 col-md-4 col-lg-3 col-xl-3 col-xxl-2 mt-3">                                        
                                        <div class="pro ms-auto me-auto">
                                            <% if(product.hasVariant){ 
                                                for(j = 0; j < varDocs.length; j++){
                                                    if(varDocs[j].prodID.equals(product._id)){
                                                %>
                                            <div class="imgDiv">
                                                <div class="discount-badge"><%=varDocs[j].sizes[0].discount%>% off</div>
                                                <i class="fa fa-heart" onclick="wishlist(this)"></i>
                                                <img src="<%=varDocs[j].images%>" alt="<%=product.productName%>">
                                            </div>
                                            <div class="des px-2 text-start">
                                                <span class="prodCat d-block"><%=product.subcategory%></span>
                                                <span class="prodName d-block"><%=product.productName%></span>
                                                <div class="rating my-1"><i class="fa fa-star"> 4.2</i></div>
                                                <div>
                                                    <span class="prodPrice">₹ <%=varDocs[j].sizes[0].finalPrice%></span>
                                                    <span class="discPrice text-muted px-2">₹ <%=varDocs[j].sizes[0].actualPrice%></span>
                                                </div>
                                            </div>
                                            <%}}} else {%>
                                            <div class="imgDiv">
                                                <div class="discount-badge"><%=product.discount%>% off</div>
                                                <i class="fa fa-heart" onclick="wishlist(this)"></i>
                                                <img src="<%=product.images%>" alt="<%=product.productName%>">
                                            </div>
                                            <div class="des px-2 text-start">
                                                <span class="prodCat d-block"><%=product.subcategory%></span>
                                                <span class="prodName d-block"><%=product.productName%></span>
                                                <div class="rating my-1"><i class="fa fa-star"> 4.2</i></div>
                                                <div>
                                                    <span class="prodPrice">₹ <%=product.finalPrice%></span>
                                                    <span class="discPrice text-muted px-2">₹ <%=product.actualPrice%></span>
                                                </div>
                                            </div>    
                                            <%}%>   
                                            <a href="#"><i class="fas fa-shopping-cart cart"></i></a>
                                        </div>       
                                    </div>
                                    <% }})%>
                        </div>
                </div>
            <%}%> 
            <input type="hidden" id="firsttab" value="#tab-<%=catArr2[0]%>">        
        </div>
    </div>







    <!-- FOOTER -->
    <section id="footer">
        <%- include('footer') %>
                                        </section>

                                        <!-- FilterModal -->
                                        <div class="modal fade" id="filterModal" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-fullscreen-sm-down">
                                                <div class="modal-content" style="height: 90vh;">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">Filters
                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="accordion accordion-flush"
                                                            id="accordionFlushExample">
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="flush-headingOne">
                                                                    <button class="accordion-button collapsed"
                                                                        type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#flush-collapseOne"
                                                                        aria-expanded="false"
                                                                        aria-controls="flush-collapseOne">
                                                                        Price
                                                                    </button>
                                                                </h2>
                                                                <div id="flush-collapseOne"
                                                                    class="accordion-collapse collapse"
                                                                    aria-labelledby="flush-headingOne"
                                                                    data-bs-parent="#accordionFlushExample">
                                                                    <div class="accordion-body">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="flush-headingTwo">
                                                                    <button class="accordion-button collapsed"
                                                                        type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#flush-collapseTwo"
                                                                        aria-expanded="false"
                                                                        aria-controls="flush-collapseTwo">
                                                                        Ratings
                                                                    </button>
                                                                </h2>
                                                                <div id="flush-collapseTwo"
                                                                    class="accordion-collapse collapse"
                                                                    aria-labelledby="flush-headingTwo"
                                                                    data-bs-parent="#accordionFlushExample">
                                                                    <div class="accordion-body">

                                                                    </div>
                                                                </div>
                                                            </div>
                                                            <div class="accordion-item">
                                                                <h2 class="accordion-header" id="flush-headingThree">
                                                                    <button class="accordion-button collapsed"
                                                                        type="button" data-bs-toggle="collapse"
                                                                        data-bs-target="#flush-collapseThree"
                                                                        aria-expanded="false"
                                                                        aria-controls="flush-collapseThree">
                                                                        Availability
                                                                    </button>
                                                                </h2>
                                                                <div id="flush-collapseThree"
                                                                    class="accordion-collapse collapse"
                                                                    aria-labelledby="flush-headingThree"
                                                                    data-bs-parent="#accordionFlushExample">
                                                                    <div class="accordion-body">
                                                                        <input type="checkbox" name="availability"
                                                                            id="availability">
                                                                        <label class="form-check-label"
                                                                            for="availability">Include Out of
                                                                            Stock</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-outline-primary"
                                                            data-bs-dismiss="modal">Apply</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- Login Modal -->
                                        <%- include('login') %>




</body>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/js/user/shop-by-category.js"></script>
<script src="/js/user/login.js"></script>

</html>