<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Wishlist</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/user/login.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/user/home.css">
    <style>
        @media screen and (min-width: 767px) {
            .chgsize {
                max-width: 200px;
            }
        }
    </style>
</head>

<body>
    <!-- NAVBAR -->
    <%- include('navbar') %>
        <div class="wrapper mb-5" style="min-height: 200px;">
            <div id="body" class="active">
                <div class="container-fluid">
                    <div class="grandparent row">
                        <div class="container border mt-3 col-md-11 col-sm-11 col-11"
                            style="background-color:  #ffffff; ">
                            <h3>
                                <p class="modal-header border-danger">Your Wishlist</p>
                            </h3>

                            <% if(seller.length!=0) {var i=0; seller.forEach(function(data){ %>
                                <div class="parent">
                                    <div class="card p-3 my-3 ms-2 " style="background-color: rgb(247, 248, 249); ">
                                        <label style="color: black;">
                                            <h5><b>
                                                    <%= data.busName %>
                                                </b></h5>
                                        </label>
                                        <hr class="mt-0" style="color: black; height: 2px;">
                                        <% wishlistData.forEach(function(wishlistData){%>
                                            <% if(wishlistData.sellerID._id.toString()==data._id.toString()) { %>
                                                <div class="card p-0 " style="box-shadow: 2px 2px rgb(136, 136, 138);">
                                                    <div class="card-header p-1 bg-white">
                                                        <h4><a href="/wishlist/delete-wishlist/<%= wishlistData._id %>"><i
                                                                    class="fa fa fa-times ms-2 mt-1"
                                                                    style="color: rgb(188, 21, 21); float: right; "
                                                                    aria-hidden="true"></i></a>
                                                        </h4>
                                                    </div>
                                                    <div class=" ms-1 mb-2 row  p-0 w-100">
                                                        <%if(wishlistData.variantID){%>
                                                            <div class="image col-md-3 mt-2 chgsize">
                                                                <img src=" <%= wishlistData.variantID.images[0] %>"
                                                                    class="img-fluid rounded-start border-1 border"
                                                                    width="100%" height="100%">
                                                            </div>
                                                            <%}else{%>
                                                                <div class="image col-md-3 mt-2 chgsize">
                                                                    <img src=" <%= wishlistData.productID.images[0] %>"
                                                                        class="img-fluid rounded-start border-1 border"
                                                                        width="100%" height="100%">
                                                                </div>
                                                                <%}%>
                                                                    <div class="col-md-9 p-0">
                                                                        <div class="row col-md-12 ms-1">
                                                                            <div
                                                                                class="card-body mt-2 col-md-12 col-sm-12 col-12 p-0">
                                                                                <div class="row p-1">
                                                                                    <h5 class="card-title">
                                                                                        <label id="productName"
                                                                                            name="productName">
                                                                                            <%= wishlistData.productID.productName
                                                                                                %>:
                                                                                        </label>
                                                                                    </h5>
                                                                                    <label id="productDesc"
                                                                                        name="productDesc">
                                                                                        <%= wishlistData.productID.description
                                                                                            %>
                                                                                    </label>
                                                                                </div>


                                                                                <div class="row">
                                                                                    <div class="col-md-7 mb-2">
                                                                                        <div class="row mt-2 ms-1">
                                                                                            <div
                                                                                                class="col-md-2 p-0 col-sm-4 col-4 card-subtitle">
                                                                                                <b>Price:</b>
                                                                                            </div>
                                                                                            <%if(wishlistData.variantID){%>
                                                                                                <div
                                                                                                    class="col-md-9 text-start col-sm-8 col-8 card-subtitle">
                                                                                                    <%if(wishlistData.variantID.sizes[size[i]].discount==null){%>
                                                                                                        <p
                                                                                                            class="card-text text-dark text-black-20 fs-6">
                                                                                                            ₹
                                                                                                            <strong>
                                                                                                                <%=wishlistData.variantID.sizes[size[i]].actualPrice%>
                                                                                                            </strong>
                                                                                                        </p>
                                                                                                        <%} else{%>
                                                                                                            <p
                                                                                                                class="card-text text-dark">
                                                                                                                <strong>
                                                                                                                    ₹
                                                                                                                    <%=wishlistData.variantID.sizes[size[i]].finalPrice%>
                                                                                                                </strong><strike><span
                                                                                                                        class="text-black-20">₹
                                                                                                                        <%=wishlistData.variantID.sizes[size[i]].actualPrice%>
                                                                                                                    </span></strike><span
                                                                                                                    class="text-success fs-6">
                                                                                                                    <%=wishlistData.variantID.sizes[size[i]].discount%>
                                                                                                                        %
                                                                                                                        off
                                                                                                                </span>
                                                                                                            </p>

                                                                                                            <%}%>

                                                                                                </div>
                                                                                                <%}else{%>
                                                                                                    <div
                                                                                                        class="col-md-9 text-start col-sm-8 col-8 card-subtitle">
                                                                                                        <%if(wishlistData.productID.discount==null){%>
                                                                                                            <p
                                                                                                                class="card-text text-dark text-black-20 fs-6">
                                                                                                                ₹
                                                                                                                <strong>
                                                                                                                    <%=wishlistData.productID.actualPrice%>
                                                                                                                </strong>
                                                                                                            </p>
                                                                                                            <%} else{%>
                                                                                                                <p
                                                                                                                    class="card-text text-dark">
                                                                                                                    <strong>
                                                                                                                        ₹
                                                                                                                        <%=wishlistData.productID.finalPrice%>
                                                                                                                    </strong><strike><span
                                                                                                                            class="text-black-20">₹
                                                                                                                            <%=wishlistData.productID.actualPrice%>
                                                                                                                        </span></strike><span
                                                                                                                        class="text-success fs-6">
                                                                                                                        <%=wishlistData.productID.discount%>
                                                                                                                            %
                                                                                                                            off
                                                                                                                    </span>
                                                                                                                </p>
                                                                                                                <%}%>
                                                                                                    </div>
                                                                                                    <%}%>
                                                                                        </div>
                                                                                    </div>
                                                                                    <div class="col-md-3 col-sm-12 col-12 mb-2"
                                                                                        style="padding-right: 35px;">
                                                                                        <button
                                                                                            class="btn btn-warning mt-2 p-0 btn col-md-12 col-sm-12 col-12"
                                                                                            id="buy">Add to Cart
                                                                                        </button>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                    </div>
                                                </div>
                                                <% i++}}) %>
                                    </div>
                                </div>
                                <% })}%>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Login Modal -->
            <%- include('login') %>
        </div>
        <!-- Footer -->
        <%- include('footer') %>

            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/js/script.js"></script>
            <script src="/js/user/login.js"></script>
</body>

</html>