<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Your Wishlist | DigMart</title>
    <link href="/vendor/fontawesome/css/all.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/user/home.css" rel="stylesheet">
    <style>
        @media screen and (min-width: 767px) {
            .chgsize {
                height: 100%;
                width: 85%;
            }
            .chgpar {
                max-height: 170px;
            }
        }
        
        @media screen and (max-width: 766px) {
            .chgsize {
                height: 100%;
                width: 50%;
            }
            .chgpar {
                max-height: 250px;
            }
        }
    </style>
</head>

<body style="background-color:  rgb(234, 229, 229);">
    <!-- NAVBAR -->
    <%- include('navbar') %>
        <div class="wrapper mb-5" style="min-height: 200px;">
            <div id="body" class="active">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container mt-3 col-md-11 col-sm-11 col-11" style="background-color: #ffffff;">
                            <h3>
                                <p class="modal-header border-danger">Your Wishlist</p>
                            </h3>

                            <div class="row">
                                <div class="container col-12 mb-3">
                                    <% 
                                        if(wishlistData.length!=0){
                                            wishlistData.forEach(function(wishlistData){ 
                                    %>

                                        <div class="card col-lg-3 col-md-3 col-sm-12">
                                            <% if(wishlistData.variantID){ %>
                                                <img class="card-img-top" src="<%= wishlistData.variantID.images[0] %>" onclick="openProduct('<%=wishlistData.productID.slugID%>', '<%=wishlistData.variantID.slugID%>')">
                                                <% } else { %>
                                                    <img class="card-img-top" src="<%= wishlistData.productID.images[0] %>" onclick="openProduct('<%=wishlistData.productID.slugID%>', null)">
                                                    <% } %>
                                                        <div class="card-body">
                                                            <h5 class="card-title">
                                                                <%= wishlistData.productID.productName %>
                                                            </h5>
                                                            <p class="card-subtitle mb-2 text-muted">
                                                                Sold By:
                                                                <%= wishlistData.sellerID.busName %>
                                                            </p>
                                                            <p class="card-text">
                                                                <% if (wishlistData.variantID){ %>
                                                                    ₹
                                                                    <%= (wishlistData.variantID.sizes[size[i]].discount == null) ? wishlistData.variantID.sizes[size[i]].actualPrice : wishlistData.variantID.sizes[size[i]].finalPrice %>
                                                                        <% } else { %>
                                                                            ₹
                                                                            <%= (wishlistData.productID.discount==null) ? wishlistData.productID.actualPrice : wishlistData.productID.finalPrice %>
                                                                                <% }%>
                                                                                    <br>
                                                                                    <%= wishlistData.productID.description %>
                                                            </p>
                                                            <% if(wishlistData.variantID){ %>
                                                                <button class="btn btn-main" id="buy" onclick="addcart('<%=wishlistData.sellerID._id %>','<%= wishlistData.productID._id %>','<%=wishlistData.variantID._id%>','<%=wishlistData.colours%>','<%=wishlistData.size%>')">Add to Cart</button>
                                                                <% } else { %>
                                                                    <button class="btn btn-main" id="buy" onclick="addcart('<%=wishlistData.sellerID._id %>','<%= wishlistData.productID._id %>',null,null,null)"> Add to Cart</button>
                                                                    <% } %>
                                                                        <a class="btn btn-danger" href="/wishlist/delete-wishlist/<%= wishlistData._id %>">Remove</a>
                                                        </div>
                                        </div>
                                </div>
                                <% })} else {%>
                                    <div class="text-center mt-3 mb-3">
                                        <img src="/img/nothingWish.png" width="200px">
                                        <h4 class="mt-3 mb-3" style="color: var(--bg-dark);">Your Wishlist is Empty</h4>
                                        <h6 style="font-size: 14px;">Make a Wish here, Looks like Santa didn't find anything on your wishlist!</h6>
                                        <a href="/#deals" class="btn btn-main mt-2 mb-2">Wishlist Now</a>
                                    </div>
                                    <%}%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Login Modal -->
        <%- include('login') %>
            </div>
            <!-- Footer -->
            <%- include('footer') %>

                <script src="/vendor/jquery/jquery.min.js"></script>
                <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
                <script src="/js/user/wishlistprod.js"></script>
                <script src="/js/user/login.js"></script>
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>

</html>