<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Admin | Products</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/Datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>


    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../../sidebar') %>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <%- include('../../navbar') %>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    

                    <div class="box box-primary mt-5">
                        <div class="box-body">
                            <table width="100%" class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Seller ID</th>
                                        <th>Product ID</th>
                                        <th>Product Name</th>
                                        <th>Category</th>
                                        <th>Subcategory</th>
                                        <th>Final Price</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(productsData.length!=0) { var i=1; productsData.forEach(function(data){ %>
                                        <tr>
                                            <td>
                                                <%=data.sellerID %>
                                            </td>
                                            <td>
                                                <%=data._id %>
                                            </td>
                                            <td>
                                                <%=data.productName %>
                                            </td>
                                            <td>
                                                <%=data.category %>
                                            </td>
                                            <td>
                                                <%=data.subcategory %>
                                            </td>
                                            <td>
                                                <%=data.finalPrice %>
                                            </td>
                                            <td>
                                                <%=data.status %>
                                            </td>

                                            <td class="text-end">
                                                <a  href="/admin/verification/viewproductStatus/<%=data._id %>" class="btn btn-outline-info btn-rounded"><i class="fas fa-eye"></i></a>
                                            </td>

                                        </tr>

                                        <% i++; }) %>
                                        <% } else{ %>
                                            <tr>
                                                <td colspan="12">No Products Found</td>
                                            </tr>
                                            <% } %>




                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>