<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Edit Product</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../../navbar') %>
                    <!-- end of navbar navigation -->


                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">Verify Product</div>
                                        <div class="card-body">
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Seller ID</label>
                                                    <input type="name" class="form-control" name="sellerid"
                                                        value="<%=productData.sellerID %>" disabled>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Product ID</label>
                                                    <input type="name" class="form-control" name="_id"
                                                        value="<%=productData._id %>" disabled>
                                                </div>
                                            </div>

                                            <%if(variantsData.length==0){%>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productImages" class="form-label">Product Images</label>
                                                    </div>
                                                    <% for (let a=0; a < productData.images.length; a++){ %>
                                                        <div class=" col-md-3">
                                                            <div class="item">
                                                                <img src="<%=productData.images[a]%>"
                                                                    style="width: 100%; " class="border border-dark">
                                                            </div>
                                                        </div>
                                                        <% } %>
                                                </div>
                                                

                                                <div class="row g-2 mt-4 ">
                                                    <div class="mb-3 col-md-4">
                                                        <label for="actualPrice" class="form-label">Actual Price</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#8377;</span>
                                                            <input type="text" class="form-control" name="actualPrice"
                                                                value="<%=productData.actualPrice %>" id="actualPrice"
                                                                min="1" pattern="[0-9]{1,9}"
                                                                onblur="calculate('discount', this.value )"
                                                                placeholder="Eg. 30000" disabled>
    
    
                                                        </div>
                                                    </div>
    
                                                    <div class="mb-3 col-md-4">
                                                        <label for="discount" class="form-label">Discount
                                                            <span class="text-muted"> (Optional)</span>
                                                        </label>
                                                        <div class="input-group">
                                                            <span class="input-group-text">%</span>
                                                            <input type="text" class="form-control" name="discount"
                                                                value="<%=productData.discount %>" id="discount"
                                                                onblur="calculate(this.value, 'actualPrice')"
                                                                placeholder="e.g. 10" min="1" pattern="[0-9]{1,2}" disabled>
    
                                                        </div>
                                                    </div>
    
                                                    <div class="mb-3 col-md-4">
                                                        <label for="finalPrice" class="form-label">Final Price</label>
                                                        <div class="input-group">
                                                            <span class="input-group-text">&#8377;</span>
                                                            <input type="number" class="form-control" name="finalPrice"
                                                                value="<%=productData.finalPrice %>" id="finalPrice"
                                                                placeholder="Final Price (Auto calculated)" disabled>
    
    
                                                        </div>
                                                    </div>
    
                                                </div>
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="quantity" class="form-label">Quantity
                                                            <span class="text-muted"> (Optional)</span>
                                                        </label>
                                                        <input type="number" class="form-control" name="quantity" min="1"
                                                            value="<%=productData.quantity %>" placeholder="e.g. 50"
                                                            disabled>
    
                                                    </div>
                                                </div>
                                                <%}%>
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Product Name</label>
                                                    <input type="name" class="form-control" name="productName"
                                                        value="<%=productData.productName %>" disabled>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="description" class="form-label">Product
                                                        Description</label>
                                                    <textarea type="name" class="form-control" name="description"
                                                        disabled><%=productData.description %></textarea>

                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-6">
                                                    <label for="category" class="form-label">Category</label>
                                                    <input type="name" class="form-control" name="category"
                                                        id="category" value="<%=productData.category %>" disabled>
                                                </div>

                                                <div class="mb-3 col-md-6">
                                                    <label for="subcategory" class="form-label">Subcategory</label>
                                                    <input type="name" class="form-control" name="subcategory"
                                                        id="subcategory" value="<%=productData.subcategory %>" disabled>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="brand" class="form-label">Brand
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <input type="name" class="form-control" name="brand"
                                                        value="<%=productData.brand %>" disabled>

                                                </div>
                                            </div>

                                            <br>
                                            <div class="row g-2">
                                                <div class="col-md-12">
                                                    <div class="card border border-dark">
                                                        <div class="card-header fw-bold text-dark"
                                                            style="background-color: rgb(213, 213, 213);">Product
                                                            Variants</div>
                                                        <div class="card-body">
                                                            <% if(variantsData.length!=0) { var i=0;
                                                                variantsData.forEach(function(data){
                                                                if(data.status=="Pending" ){%>
                                                                <div class="row g-2">
                                                                    <div class="mb-3 col-md-12">
                                                                        <label for="productName"
                                                                            class="form-label">Product
                                                                            Images</label>
                                                                    </div>
                                                                </div>

                                                                <div class="row g-2">
                                                                    <% for (let a=0; a < data.images.length; a++){ %>
                                                                        <div class=" col-md-3">
                                                                            <div class="item">
                                                                                <img src="<%=data.images[a]%>"
                                                                                    style="width: 100%; ">
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                                <br>
                                                                <div class="row g-2">
                                                                    <div class="mb-3 col-md-4 d-grid">
                                                                        <label for="colours" class="form-label">Colour
                                                                        </label>
                                                                        <input type="name" class="form-control"
                                                                            name="colours" value="<%=data.colours %>"
                                                                            disabled>

                                                                    </div>
                                                                </div>

                                                                <div class="row g-2">
                                                                    <div class="col-md-2">
                                                                        <label for="sizes" class="form-label">Sizes
                                                                        </label>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <label for="quantity"
                                                                            class="form-label">Quantity
                                                                        </label>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <label for="actualPrice"
                                                                            class="form-label">Actual
                                                                            Price</label>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <label for="discount"
                                                                            class="form-label">Discount
                                                                        </label>
                                                                    </div>

                                                                    <div class="col-md-2">
                                                                        <label for="finalPrice" class="form-label">Final
                                                                            Price</label>
                                                                    </div>
                                                                </div>


                                                                <div id="appendItems">
                                                                    <% for (let i in data.sizes){ %>
                                                                        <div class="row g-2">
                                                                            <div class="mb-3 col-md-2">
                                                                                <select name="sizes[]"
                                                                                    class="form-select" id="sizes"
                                                                                    disabled>
                                                                                    <option
                                                                                        value="<%=data.sizes[i].sizes %>"
                                                                                        id="element">
                                                                                        <%=data.sizes[i].sizes %>
                                                                                    </option>
                                                                                    <option value="XS">XS</option>
                                                                                    <option value="S">S</option>
                                                                                    <option value="M">M</option>
                                                                                    <option value="L">L</option>
                                                                                    <option value="XL">XL</option>
                                                                                    <option value="XXL">XXL</option>
                                                                                </select>
                                                                            </div>

                                                                            <div class="mb-3 col-md-2">
                                                                                <input type="number"
                                                                                    class="form-control"
                                                                                    name="quantity[]"
                                                                                    value="<%=data.sizes[i].quantity %>"
                                                                                    min="1" disabled>
                                                                            </div>

                                                                            <div class="mb-3 col-md-2">
                                                                                <div class="input-group">
                                                                                    <span
                                                                                        class="input-group-text">&#8377;</span>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="actualPrice[]"
                                                                                        value="<%=data.sizes[i].actualPrice %>"
                                                                                        id="actualPrice" min="1"
                                                                                        disabled>
                                                                                </div>
                                                                            </div>

                                                                            <div class="mb-3 col-md-2">
                                                                                <div class="input-group">
                                                                                    <span
                                                                                        class="input-group-text">%</span>
                                                                                    <input type="text"
                                                                                        class="form-control"
                                                                                        name="discount[]" id="discount"
                                                                                        value="<%=data.sizes[i].discount %>"
                                                                                        min="1" disabled>
                                                                                </div>
                                                                            </div>

                                                                            <div class="mb-3 col-md-2">
                                                                                <div class="input-group">
                                                                                    <span
                                                                                        class="input-group-text">&#8377;</span>
                                                                                    <input type="number"
                                                                                        class="form-control"
                                                                                        name="finalPrice[]"
                                                                                        id="finalPrice"
                                                                                        value="<%=data.sizes[i].finalPrice %>"
                                                                                        disabled>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-md-12">
                                                                        <button type="button" value="<%=data._id%>"
                                                                            id="<%=data._id%>accept"
                                                                            onclick="check(this)"
                                                                            class="btn btn-sm btn-outline-success"
                                                                            style="float: right;"><i
                                                                                class="fas fa-check"></i>
                                                                            Accept</button>
                                                                        <button type="button" value="<%=data._id%>"
                                                                            onclick="check(this)"
                                                                            id="<%=data._id%>reject"
                                                                            class="btn btn-sm btn-outline-danger"><i
                                                                                class="fas fa-times"></i>
                                                                            Reject</button>
                                                                    </div>
                                                                </div>


                                                                <hr style="border: 1px solid black;" class="col-md-12">
                                                                <% }i++; })} else{ %>
                                                                    No Variants for this propduct
                                                                    <% }%>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Status</label>
                                                    <input type="name" class="form-control" name="_id"
                                                        value="<%=productData.status %>" disabled>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <button type="button" data-bs-target="#staticBackdrop" data-bs-toggle="modal"
                                        class="btn btn-danger"><i class="fas fa-times"></i>
                                        Reject Product</button>
                                    <button type="button" class="btn btn-primary"
                                        onclick="checkvariant('<%=productData._id %>','Verified')"
                                        id="submitData" style="float:right"><i class="fas fa-check"></i>
                                        Accept Product</button>


                                    <!-- Save changes Warning Modal -->
                                    <form class="needs-validation" method="post"
                                        action="/admin/verification/reject-product/<%=productData._id %>" novalidate
                                        accept-charset="utf-8">
                                        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                            aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title" id="staticBackdropLabel">
                                                            REMARKS

                                                        </h5>
                                                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                            aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <label for="productName" class="form-label">Reason(s)
                                                            for Rejection</label>
                                                        <input type="text" class="form-control" name="rejectText"
                                                            id="rejectText">
                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="submit" class="btn btn-primary">Reject</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/admin/product.js"></script>
</body>

</html>