<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Edit Product</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../../navbar') %>
                    <!-- end of navbar navigation -->


                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">VERIFY PRODUCT</div>
                                        <div class="card-body">


                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Seller ID</label>
                                                    <input type="name" class="form-control" name="sellerid"
                                                        value="<%=productData.sellerID %>" disabled>
                                                </div>
                                            </div>
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Product ID</label>
                                                    <input type="name" class="form-control" name="_id"
                                                        value="<%=productData._id %>" disabled>
                                                </div>
                                            </div>



                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Product Name</label>
                                                    <input type="name" class="form-control" name="productName"
                                                        value="<%=productData.productName %>"
                                                        placeholder="e.g. Samsung Galaxy S22 Ultra" disabled>
                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="description" class="form-label">Product
                                                        Description</label>
                                                    <textarea type="name" class="form-control" name="description"
                                                        placeholder="e.g. The first Galaxy S with embedded S Pen. Write comfortably like pen on paper, turn quick notes into legible text and use Air Actions to control your phone remotely..."
                                                        disabled><%=productData.description %></textarea>

                                                </div>
                                            </div>


                                            <div class="row g-2">
                                                <div class="mb-3 col-md-6">
                                                    <label for="category" class="form-label">Category</label>
                                                    <!-- <input type="name" class="form-control" name="category"
                                                    placeholder="Enter Category Name" required> -->
                                                    <select name="category" class="form-select" id="category"
                                                        value="<%=productData.category %>" disabled>
                                                        <option value="Electronics">Electronics</option>
                                                        <option value="Home Decor">Home Decor</option>
                                                        <option value="Accessories">Accessories</option>
                                                        <option value="Clothes">Clothes</option>
                                                    </select>
                                                </div>

                                                <div class="mb-3 col-md-6">
                                                    <label for="subcategory" class="form-label">Subcategory</label>
                                                    <select name="subcategory" class="form-select" id="subcategory"
                                                        value="<%=productData.subcategory %>" disabled>
                                                        <option value="Mobiles">Mobiles</option>
                                                        <option value="Television">Television</option>
                                                        <option value="Laptop">Laptop</option>
                                                        <option value="Camera">Camera</option>
                                                    </select>

                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="sizes" class="form-label">Sizes
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <input type="name" class="form-control" name="sizes"
                                                        placeholder="e.g. XL" value="<%=productData.sizes %>" disabled>

                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="colours" class="form-label">Colours
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <input type="name" class="form-control" name="colours"
                                                        value="<%=productData.colours %>"
                                                        placeholder="e.g. Black, White" disabled>

                                                </div>
                                            </div>


                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="brand" class="form-label">Brand
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <input type="name" class="form-control" name="brand"
                                                        value="<%=productData.brand %>" placeholder="e.g. Samsung"
                                                        disabled>

                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-4">
                                                    <label for="actualPrice" class="form-label">Actual Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#8377;</span>
                                                        <input type="text" class="form-control" name="actualPrice"
                                                            value="<%=productData.actualPrice %>" id="actualPrice"
                                                            min="1" pattern="[0-9]{1,9}"
                                                            onblur="calculate('discount', this.value )"
                                                            placeholder="Eg. 30000" disabled>


                                                    </div>
                                                </div>

                                                <div class="mb-3 col-md-4">
                                                    <label for="discount" class="form-label">Discount
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">%</span>
                                                        <input type="text" class="form-control" name="discount"
                                                            value="<%=productData.discount %>" id="discount"
                                                            onblur="calculate(this.value, 'actualPrice')"
                                                            placeholder="e.g. 10" min="1" pattern="[0-9]{1,2}" disabled>

                                                    </div>
                                                </div>

                                                <div class="mb-3 col-md-4">
                                                    <label for="finalPrice" class="form-label">Final Price</label>
                                                    <div class="input-group">
                                                        <span class="input-group-text">&#8377;</span>
                                                        <input type="number" class="form-control" name="finalPrice"
                                                            value="<%=productData.finalPrice %>" id="finalPrice"
                                                            placeholder="Final Price (Auto calculated)" disabled>


                                                    </div>
                                                </div>

                                            </div>
                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="quantity" class="form-label">Quantity
                                                        <span class="text-muted"> (Optional)</span>
                                                    </label>
                                                    <input type="number" class="form-control" name="quantity" min="1"
                                                        value="<%=productData.quantity %>" placeholder="e.g. 50"
                                                        disabled>

                                                </div>
                                            </div>

                                            <div class="row g-2">
                                                <div class="mb-3 col-md-12">
                                                    <label for="productName" class="form-label">Status</label>
                                                    <input type="name" class="form-control" name="_id"
                                                        value="<%=productData.status %>" disabled>
                                                </div>
                                            </div>



                                            <button type="button" data-bs-target="#staticBackdrop"
                                                data-bs-toggle="modal" class="btn btn-danger"><i
                                                    class="fas fa-times"></i>
                                                Reject</button>
                                            <button type="button" class="btn btn-primary"
                                                onclick="location.href='/admin/verification/accept-product/<%=productData._id %>'"
                                                id="submitData" style="float:right"><i class="fas fa-check"></i>
                                                Accept</button>


                                            <!-- Save changes Warning Modal -->
                                            <form class="needs-validation" method="post"
                                                action="/admin/verification/reject-product/<%=productData._id %>"
                                                novalidate accept-charset="utf-8">
                                                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
                                                    data-bs-keyboard="false" tabindex="-1"
                                                    aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                                    <div class="modal-dialog">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="staticBackdropLabel">REMARKS
                                                                </h5>
                                                                <button type="button" class="btn-close"
                                                                    data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <label for="productName" class="form-label">Reason(s)
                                                                    for Rejection</label>
                                                                <input type="text" class="form-control"
                                                                    name="rejectText" id="rejectText">
                                                            </div>

                                                            <div class="modal-footer">
                                                                <button type="submit"
                                                                    class="btn btn-primary">Reject</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <script>
        let element = document.getElementById('category');
        element.value = '<%=productData.category %>';

        let element1 = document.getElementById('subcategory');
        element1.value = '<%=productData.subcategory %>';
    </script>

    <script>
        const toastTrigger = document.getElementById('submitData')
        const toastLiveExample = document.getElementById('liveToast')
        // if (toastTrigger) {
        //     toastTrigger.addEventListener('click', () => {
        //         const toast = new bootstrap.Toast(toastLiveExample)

        //         toast.show()
        //     })
        // }

        function calculate(val1, val2) {
            var actualPrice = document.getElementById("actualPrice").value;
            var discountPct = document.getElementById("discount").value;


            var total = (actualPrice * discountPct) / 100;
            finalPrice = actualPrice - total;


            var finalPriceField = document.getElementById("finalPrice");
            finalPriceField.value = finalPrice;

        }
    </script>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>