<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Category Edit Page</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/seller/editImages.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">EDIT SUB-CATEGORY</div>
                                        <div class="card-body">
                                            <h5 class="card-title"></h5>
                                            <form action="/admin/sub-category/edit-subcategory/<%= categoryData._id %>" method="post" enctype="multipart/form-data" class="needs-validation" novalidate accept-charset="utf-8">
                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productName" class="form-label">Category Image</label>
                                                        <div class="item">
                                                            <img src="<%= categoryData.subImage %>" height="100px">
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3">
                                                        <label for="text" class="form-label">Change Image:</label>
                                                        <input type="file" class="form-control" name="subImage" accept="image/*" id="file">
                                                    </div>
                                                </div>

                                                <div class="mb-3 col-md-4">
                                                    <label for="catID" class="form-label">Select Category</label>
                                                    <select id="catID" name="catID" class="form-select" required>
                                                        <% catData.forEach(function(cat) { %>
                                                        <option value="<%= cat._id %>"><%= cat.catName %></option>
                                                        <% }) %>
                                                    </select>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="text" class="form-label">Subcategory Name</label>
                                                    <input type="text" value="<%= categoryData.subCatName %>" name="subCatName" placeholder="Enter Category" class="form-control" required>
                                                    <div class="valid-feedback">Looks good!</div>
                                                    <div class="invalid-feedback">Please Choose a Category.</div>
                                                </div>

                                                <div class="mb-3">
                                                    <button type="submit" class="btn btn-primary" id="submitData"><i class="fas fa-save"></i> Save Changes</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/script.js"></script>
    <script>
        let element = document.getElementById('catID')
        element.value = '<%= categoryData.catID %>'
    </script>
</body>

</html>