<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Subcategory Page</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="page-title">
                                <h3>Sub-Category
                                    <a href="/admin/sub-category/add-subcategory" class="btn btn-sm btn-outline-primary float-end"><i class="fas fa-plus-circle"></i> Add Subcategory</a>
                                </h3>
                            </div>
                            <div class="box box-primary">
                                <div class="box-body">
                                    <table width="100%" class="table table-hover" id="dataTables-example">
                                        <thead>
                                            <tr>
                                                <th>Image</th>
                                                <th>Category</th>
                                                <th>Sub-Category</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% if(subcats.length!=0){
                                                subcats.forEach(function(data){ %>
                                                <tr>
                                                    <td>
                                                        <img src="<%= data.subImage %>" height="100px">
                                                    </td>
                                                    <td>
                                                        <%= data.subCatName %>
                                                    </td>
                                                    <td>
                                                        <%= data.catID.catName %>
                                                    </td>
                                                    <td class="text-end">
                                                        <a href="/admin/sub-category/edit-subcategory/<%= data._id %>" class="btn btn-outline-info btn-rounded"><i class="fas fa-pen"></i></a>
                                                        <a href="/admin/sub-category/delete-subcategory/<%= data._id %>" class="btn btn-outline-danger btn-rounded"><i class="fas fa-trash"></i></button>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                                    <% } else{ %>
                                                        <tr>
                                                            <td colspan="6">No Data Found</td>
                                                        </tr>
                                                        <% } %>
                                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
            <script>
                function sweetAlertTrigger(dataID) {
                    swal({
                            title: "Are you sure?",
                            text: "Once deleted, you will not be able to recover this category!",
                            icon: "warning",
                            buttons: true,
                            dangerMode: true,
                        })
                        .then((willDelete) => {
                            if (willDelete) {
                                window.location = "/admin/category/delete-category/" + dataID
                            }
                        });
                }
            </script>
            <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/datatables/datatables.min.js"></script>
            <script src="/js/initiate-datatables.js"></script>
            <script src="/js/script.js"></script>
</body>

</html>