<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>Admin | Seller</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
    <!-- <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/auth.css" rel="stylesheet"> -->
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../../sidebar') %>
        <!-- end of sidebar component -->
        <div id="body" class="active">
            <!-- navbar navigation component -->
            <%- include('../../navbar') %>
            <!-- end of navbar navigation -->
            <div class="content">
                <div class="container">
                    <div class="page-title">
                        <h3>Sellers
                        </h3>
                    </div>
                    <div class="box box-primary">
                        <div class="box-body">
                            <table width="100%" class="table table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>Seller ID</th>
                                        <th>GST No</th>
                                        <th>Business Name</th>
                                        <th>Status</th>

                                        <th class="text-end">Actions</th>              
                                    </tr>
                                </thead>
                                <tbody>
                                  
                                    <% if(sellersData.length!=0) { var i=1; sellersData.forEach(function(data){ var id = data._id;%>
                                    <tr>
                                        <td><%= data._id%></td>
                                        <td><%= data.busGstNo %></td>
                                        <td><%= data.busName%></td>
                                        <td><%= data.status%></td>
                                        
                                        <td class="text-end">
                                            <a href="/admin/verification/viewSeller/<%=data._id %>" class="btn btn-outline-info btn-rounded"><i class="fas fa-eye"></i></a>
                                            
                                            
                                        </td>
                                    </tr>

                                      
                                    <% i++; }) %>
                                    <% } else{ %>
                                        <tr>
                                            <td colspan="12">No Data Found</td>
                                        </tr>
                                        <% } %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <!-- <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static"
    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
    aria-hidden="true">
        <div class="modal-dialog modal-fullscreen modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalToggleLabel">Product Details</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table width="100%" class="table table-hover" id="dataTables-example">
                    <thead>
                        <tr>
                            <th>Seller Id</th>
                            <th>Last Name</th>
                            <th>Mobile No</th>
                            <th>Email id</th>
                            <th>Business Mobile</th>                         
                            <th>Bus Address</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(sellersData.length!=0) { var j=1; sellersData.forEach(function(data){ %>
                        <tr>
                            <td><%= data._id%></td>
                            <td><%= data.pLname%></td>
                            <td><%= data.pMobile%></td>
                            <td><%= data.pEmail%></td>
                            <td><%= data.busEmail%></td>
                            <td><%= data.busAddress%></td>
                        </tr>
                        <% j++; }) %>
      <% } else{ %>
          <tr>
              <td colspan="12">No Data Found</td>
          </tr>
          <% } %>
                    </tbody>
                </table>            
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
            </div>
          </div>
        </div>
      </div> -->
      
         
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>
