<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" type="image/png" href="/img/favicon.png">
    <title>View Seller</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../../navbar') %>
                    <!-- end of navbar navigation -->


                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">VIEW SELLER</div>
                                        <div class="card-body">

                                            <!-- <form id="formA" method="post" action="/seller/add-seller" class="row needs-validation" novalidate
                                            enctype="multipart/form-data"> -->

                                            <!-- PERSONAL DETAILS -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">Owner Details</div>
                                                    <div class="card-body">
                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="pFname" class="form-label">First
                                                                    Name</label>
                                                                <input id="pFname" type="text" class="form-control"
                                                                    name="pFname" placeholder="First Name"
                                                                    value="<%= sellerData.pFname %>" disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label for="pLname" class="form-label">Last Name</label>
                                                                <input value="<%= sellerData.pLname %>" id="pLname"
                                                                    type="text" class="form-control" name="pLname"
                                                                    placeholder="Last Name" disabled>
                                                            </div>
                                                        </div>

                                                        <label for="pMobile" class="form-label">Mobile No.</label>
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text" id="basic-addon1">+91</span>
                                                            <input value="<%= sellerData.pMobile %>" id="pMobile"
                                                                type="numeric" class="form-control" name="pMobile"
                                                                placeholder="Mobile No." style="width: 80%;"
                                                                aria-describedby="basic-addon1" disabled>
                                                        </div>

                                                        <div class="mb-3 ">
                                                            <label for="pEmail" class="form-label">Email</label>
                                                            <input value="<%= sellerData.pEmail %>" id="pEmail"
                                                                type="email" class="form-control" name="pEmail"
                                                                placeholder="Email" autocomplete="off" disabled>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                            <!-- BUSINESS DETAILS -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">Business Details</div>
                                                    <div class="card-body">
                                                        <div class="row g-2">
                                                            <center>
                                                                <div class="mb-3 col-md-2">
                                                                    <label for="busLogo" class="form-label">Business
                                                                        Logo</label>
                                                                    <div class="item border p-2 border-dark border-3">
                                                                        <img name="busLogo" id="busLogo"
                                                                            src="<%= sellerData.busLogo %>"
                                                                            style="width: 100%; ">
                                                                    </div>
                                                                </div>
                                                            </center>
                                                        </div>
                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="busName" class="form-label">Business
                                                                    Name</label>
                                                                <input value="<%= sellerData.busName %>" id="busName"
                                                                    type="text" class="form-control" name="busName"
                                                                    placeholder="Business Name" disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label for="busMobile" class="form-label">Business's
                                                                    Mobile No.</label>
                                                                <input value="<%= sellerData.busMobile %>"
                                                                    id="busMobile" type="numeric" class="form-control"
                                                                    name="busMobile" placeholder="Mobile No." disabled>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3 ">
                                                            <label for="busEmail" class="form-label">Business
                                                                Email</label>
                                                            <input value="<%= sellerData.busEmail %>" id="busEmail"
                                                                type="email" class="form-control" name="busEmail"
                                                                placeholder="Business Email" disabled>
                                                        </div>

                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-9">
                                                                <label for="busAddress" class="form-label">Business
                                                                    Address</label>
                                                                <input value="<%= sellerData.busAddress %>"
                                                                    id="busAddress" type="text" class="form-control"
                                                                    name="busAddress"
                                                                    placeholder="Example, 1234 Main St, Unit, Building, Landmark"
                                                                    disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-3">
                                                                <label for="busZip" class="form-label">Zip Code</label>
                                                                <input value="<%= sellerData.busZip %>" id="busZip"
                                                                    type="numeric" class="form-control" name="busZip"
                                                                    placeholder="Zip Code" disabled>
                                                            </div>
                                                        </div>

                                                        <hr><br>

                                                        <div class="row g-2">

                                                            <div class="mb-3 col-md-6">
                                                                <label for="busType" class="form-label">Business
                                                                    type</label>
                                                                <input value="<%= sellerData.busType %>" id="busType"
                                                                    name="busType" type="text" class="form-control"
                                                                    placeholder="Business type" disabled>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3">
                                                            <label for="busCat" class="form-label">Product
                                                                Category</label>
                                                            <input value="<%= sellerData.busCat %>" id="busCat"
                                                                name="busCat" type="text" class="form-control"
                                                                placeholder="Product Category" disabled>
                                                        </div>

                                                        <hr><br>

                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="busPanNo" class="form-label">PAN No.</label>
                                                                <input value="<%= sellerData.busPanNo %>" id="busPanNo"
                                                                    type="numeric" class="form-control" name="busPanNo"
                                                                    placeholder="PAN No." disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">PAN
                                                                    Card</label>
                                                                <br>
                                                                <a href="<%= sellerData.busPanFile %>" target="_blank"><button type="button" id="pan"
                                                                    class="col-md-12 btn  btn-outline-success"
                                                                    name="pan">VIEW</button></a>
                                                            </div>
                                                        </div>

                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="busGstNo" class="form-label">GST No.</label>
                                                                <input value="<%= sellerData.busGstNo %>" id="busGstNo"
                                                                    type="numeric" class="form-control" name="busGstNo"
                                                                    placeholder="GST No." disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label class="form-label">GST FILE
                                                                    </label>
                                                                <br>
                                                                <a href="<%= sellerData.busGstFile %>" target="_blank"><button type="button" id="gst"
                                                                    class="col-md-12 btn  btn-outline-success"
                                                                    name="gst">VIEW</button></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <!-- BANK DETAILS -->
                                            <div class="col-lg-12">
                                                <div class="card">
                                                    <div class="card-header">Bank Details</div>
                                                    <div class="card-body">
                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="bankName" class="form-label">Name of the
                                                                    Bank</label>
                                                                <input value="<%= sellerData.bankName %>" id="bankName"
                                                                    type="text" class="form-control" name="bankName"
                                                                    placeholder="Bank name" disabled>
                                                            </div>
                                                            <div class="mb-3 col-md-6">
                                                                <label for="bankIfsc" class="form-label">IFSC
                                                                    Code</label>
                                                                <input value="<%= sellerData.bankIfsc %>" id="bankIfsc"
                                                                    type="text" class="form-control" name="bankIfsc"
                                                                    placeholder="IFSC Code" disabled>
                                                            </div>
                                                        </div>

                                                        <div class="row g-2">
                                                            <div class="mb-3 col-md-6">
                                                                <label for="bankAccNo" class="form-label">Bank Account
                                                                    No.</label>
                                                                <input value="<%= sellerData.bankAccNo %>"
                                                                    id="bankAccNo" type="numeric" class="form-control"
                                                                    name="bankAccNo" placeholder="Account No." disabled>
                                                            </div>
                                                            <div class="row g-2">
                                                                <div class="mb-3 col-md-6">
                                                                    <label class="form-label">Cancelled Cheque / First page of
                                                                        Passbook
                                                                        </label>
                                                                    <br>
                                                                    <a href="<%= sellerData.bankChqPass %>" target="_blank"><button type="button" id="bankChqPass"
                                                                        class="col-md-12 btn  btn-outline-success"
                                                                        name="bankChqPass">VIEW</button></a>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>


            <script src="/vendor/jquery/jquery.min.js"></script>
            <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
            <script src="/vendor/datatables/datatables.min.js"></script>
            <script src="/js/form-validator.js"></script>
            <script src="/js/initiate-datatables.js"></script>
            <script src="/js/script.js"></script>
</body>

</html>