<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Add Variant</title>
    <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
    <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
    <link href="/css/master.css" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <!-- sidebar navigation component -->
        <%- include('../sidebar') %>
            <!-- end of sidebar component -->
            <div id="body" class="active">
                <!-- navbar navigation component -->
                <%- include('../navbar') %>
                    <!-- end of navbar navigation -->
                    <div class="content">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card">
                                        <div class="card-header fw-bold bg-dark text-light">ADD NEW GALLERY</div>
                                        <div class="card-body">

                                            <form action="/seller/gallery/add-gallery/<%=id%>"
                                                enctype="multipart/form-data" id="addVariantForm" method="post"
                                                class="needs-validation" novalidate accept-charset="utf-8">

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="productName" class="form-label">Seller
                                                            Name</label>
                                                        <input type="name" class="form-control" name="productName"
                                                            id="sellerName" value="<%=sellerData.pFname %>"
                                                            readonly>
                                                    </div>
                                                </div>

                                                <div class="row g-2">
                                                    <div class="mb-3 col-md-12">
                                                        <label for="images" class="form-label">Gallery
                                                            Images:</label>
                                                        <input type="file" class="form-control" name="images"
                                                            multiple='multiple' accept="image/*" required>
                                                        <div class="valid-feedback">Looks good!</div>
                                                        <div class="invalid-feedback">Please Choose an Image.</div>
                                                    </div>
                                                </div>

                                                <a href="/seller/gallery/<%=sellerData._id %>"
                                                    class="btn btn-danger"><i class="fas fa-times"></i>
                                                    Cancel</a>
                                                <button type="submit" class="btn btn-primary" id="submitVariantData"
                                                    style="float: right"><i class="fas fa-save"></i> Add
                                                    Gallery</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
    </div>

    <script src="/vendor/jquery/jquery.min.js"></script>
    <script>
        $(function(){
           $("input[type = 'submit']").click(function(){
              var $fileUpload = $("input[type='file']");
              if (parseInt($fileUpload.get(0).files.length) > 4){
                 alert("You are only allowed to upload a maximum of 4 files");
              }
           });
        });
     </script>

    <script>
        function calculateMoreFields(val1, val2, counter) {

            var actualPrice = document.getElementById("actualPrice" + counter).value;
            var discountPct = document.getElementById("discount" + counter).value;

            var total = (actualPrice * discountPct) / 100;
            finalPrice = actualPrice - total;

            var finalPriceField = document.getElementById("finalPrice" + counter);
            finalPriceField.value = finalPrice;
        }

        function calculate(val1, val2) {
            var actualPrice = document.getElementById("actualPrice").value;
            var discountPct = document.getElementById("discount").value;

            var total = (actualPrice * discountPct) / 100;
            finalPrice = actualPrice - total;

            var finalPriceField = document.getElementById("finalPrice");
            finalPriceField.value = finalPrice;
        }
    </script>

    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/vendor/datatables/datatables.min.js"></script>
    <script src="/js/form-validator.js"></script>
    <script src="/js/initiate-datatables.js"></script>
    <script src="/js/script.js"></script>
</body>

</html>